@use 'tailwindcss/components';

// Shared styles
// -----------------
@use '@hypothesis/frontend-shared/styles';

// Extensions and overrides to patterns from `frontend-shared`
@use '../../frontend-shared';

// UI (Preact) Components
// ----------
@use './AutocompleteList';
@use './FilterSelect';
@use './FilterStatus';
@use './GroupList';
@use './GroupListItem';
@use './LaunchErrorPanel';
@use './Menu';
@use './MenuItem';
@use './MenuSection';
@use './NotebookView';
@use './NotebookResultCount';
@use './PaginationNavigation';
@use './SelectionTabs';
@use './SearchInput';
@use './StyledText';
@use './Thread';
@use './ThreadCard';
@use './ThreadList';
@use './VersionInfo';

// TODO: Evaluate all classes below after components have been converted to
// Tailwind. If retaining, put them in @layer components after `frontend-shared`
//  component styles have been converted to Tailwind (and are contained in the
// components layer themselves). They need to come after shared-component
// styles in the output stylesheet.

// Applies to <Link>
.p-muted-link {
  @apply text-color-text-light hover:text-color-text-light hover:underline;
}

// Applies to any text: strikeout effect
.p-redacted-text {
  @apply line-through grayscale contrast-50 text-color-text-light;
}

// Disable scroll anchoring as it interferes with `ThreadList` and
// `visible-threads` calculations and can cause a render loop
.js-thread-list-scroll-root {
  overflow-anchor: none;
}
