@use "../../mixins/forms";
@use "../../variables" as var;

.annotation-header {
  @include forms.pie-clearfix;
  // Margin between top of x-height of username and
  // top of the annotation card should be ~15px
  margin-top: -(var.$layout-h-margin) + 10px;
  color: var.$grey-5;

  &__row {
    display: flex;
    align-items: baseline;
  }

  &__reply-toggle.button {
    padding: 0 0.5em;
    font-weight: 400;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      color: var.$link-color-hover;
    }
  }

  // Timestamps are right aligned in a flex row
  &__timestamp {
    margin-left: auto;
  }

  &__timestamp-edited {
    @include var.font-small;
    font-style: italic;
    color: var.$grey-4;
  }

  &__timestamp-created-link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__timestamp-created-link {
    color: var.$grey-5;
  }

  &__highlight {
    margin-right: 5px;
  }

  &__highlight-icon {
    width: 12px;
    height: 12px;
    /* bring down the baseline a little */
    margin-bottom: -1px;
  }
}
