@use "../../variables" as var;
@use "../../mixins/layout";

.annotation-share-info {
  @include layout.row($align: baseline);

  &__group,
  &__private {
    @include layout.row($align: baseline);
    color: var.$color-text-light;
  }

  &__icon {
    // This margin is currently needed because the icon is within an `a` element
    margin-right: 5px;
    width: 10px;
    height: 10px;
  }
}
