@use "../../mixins/buttons";
@use "../../mixins/forms";
@use "../../mixins/layout";
@use "../../mixins/utils";
@use "../../variables" as var;

.annotation-publish-control {
  @include layout.row;
  @include layout.horizontal-rhythm(var.$layout-space);

  &__cancel-button {
    @include buttons.button--labeled;
    // TODO: Magic number
    padding: 0.75em;
  }
}

// A split button with a primary submit on the left and a drop-down menu
// of related options to the right
.annotation-publish-button {
  @include layout.row;
  // For proper menu alignment
  position: relative;

  // Align the menu (upward) arrow correctly with the ▼ in the menu label icon
  // Note the extra `&` needed for specificity against `Menu`'s own arrow styling
  & &__menu-arrow {
    right: 8px;
  }

  // Make sure the menu content is wide enough to "reach" to the right-aligned
  // menu arrow
  &__menu-content {
    min-width: 100%;
  }

  &__primary {
    @include buttons.button--primary;
    // TODO magic number
    padding: 0.75em;

    // Turn off right-side border radius for alignment with menu label/button
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // dropdown arrow which reveals the button's associated menu
  // when clicked
  &__menu-label {
    @include layout.row(center);
    color: var.$color-text-inverted;
    background-color: var.$grey-mid;
    // Make sure label element takes up full available vertical space
    height: 100%;
    // TODO magic number
    padding: 0 0.75em;

    // Add border radius to the right to match the left side of the primary button
    border-top-right-radius: var.$border-radius;
    border-bottom-right-radius: var.$border-radius;

    &:hover {
      background-color: var.$grey-6;
    }
  }

  &__menu-icon {
    @include utils.icon--small;
    // To properly vertically center menu-label icon
    height: 100%;
  }
}
