@use "../../mixins/buttons";
@use "../../mixins/forms";
@use "../../variables" as var;

.annotation-header {
  color: var.$color-text;

  &__row {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: baseline;
  }

  &__icon {
    margin-right: 5px;
    width: 10px;
    height: 10px;
    color: var.$color-text;
  }

  &__reply-toggle {
    @include buttons.button--link;
    padding: 0 0.5em;
  }

  // Timestamps are right aligned in a flex row
  &__timestamp {
    margin-left: auto;
  }

  &__timestamp-edited {
    @include var.font-small;
    font-style: italic;
    color: var.$color-text-light;
  }

  &__timestamp-created-link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__timestamp-created-link {
    color: var.$color-text-light;
  }

  &__highlight {
    margin-right: 5px;
  }

  &__highlight-icon {
    color: var.$grey-5;
    width: 12px;
    height: 12px;
    /* bring down the baseline a little */
    margin-bottom: -1px;
  }
}
