@use "../../mixins/forms";
@use "../../mixins/icons";
@use "../../variables" as var;

// Highlight quote of annotation whenever its thread is hovered
.thread-list__card:hover .annotation-quote__quote {
  border-left: var.$highlight 3px solid;
}

// When hovering a top-level annotation, show the footer in a hovered state.
// When hovering a reply (at any level), show the reply's own footer in
// a hovered state and also the footer of the top-level annotation.
.thread-list__card:hover > .annotation,
.annotation:hover {
  .annotation-replies__link,
  .annotation-replies__count,
  .annotation-action-btn {
    color: var.$grey-6;
  }

  .annotation-header__timestamp-link {
    color: var.$grey-5;
  }
}

.annotation {
  display: block;
  font-family: var.$sans-font-family;
  position: relative;
}

.annotation.is-dimmed {
  // Lighten the bodies of dimmed annotations to make other
  // annotations which are not dimmed stand out
  .annotation-body {
    color: var.$grey-5;
  }
}

.annotation.is-highlighted {
  // Slightly darken the bodies of highlighted annotations to
  // make them stand out next to others, which will have the `is-dimmed` state
  // set
  .annotation-body {
    color: var.$grey-7;
  }
}

.annotation-link-more {
  display: flex;
  flex-flow: row-reverse;
}

.annotation-link {
  @include var.font-small;
  color: var.$grey-4;
  // Decrease the margin between the more/less link
  // and the annotation body.
  margin-top: -1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.annotation-replies:hover {
  .annotation-replies__link {
    text-decoration: underline;
  }
}

.annotation-footer {
  @include forms.pie-clearfix;
}

// the footer at the bottom of an annotation displaying
// the annotation actions and reply counts
.annotation-footer {
  @include var.font-normal;
  color: var.$grey-5;
  margin-top: var.$layout-h-margin;
}

.u-flex-spacer {
  flex-grow: 1;
}

.annotation-media-embed {
  width: 369px;
  height: 208px;
}

.annotation-replies {
  float: left;
  margin-top: 2px;
}

.annotation-replies__link,
.annotation-replies__count {
  @include var.font-normal;
  color: var.$grey-5;
}

.annotation-actions {
  float: right;
  margin-top: 0;
  display: flex;
}

.annotation-action-btn {
  color: var.$grey-5;
  font-weight: normal;
  padding: 0;
  margin: 0px 0px 0px 12px;

  &[disabled] {
    opacity: 0.2;
  }
}

.annotation-citation-domain {
  color: var.$gray-light;
  font-size: var.$body1-font-size;
}

.annotation-collapsed-replies {
  display: none;
}

.annotation--reply.is-collapsed {
  margin-bottom: 0;

  .annotation-header {
    margin: 0;
  }

  .annotation-body,
  .annotation-footer {
    display: none;
  }

  .annotation-collapsed-replies {
    display: inline;
    margin-left: 0.25em;
  }
}

.annotation-share-dialog-wrapper {
  position: relative;
}

// the actions for publishing annotations and reverting changes
// at the bottom of an annotation card
.annotation-form-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

// Style adjustments for annotation cards that are replies
.annotation--reply {
  .annotation-action-btn {
    color: var.$grey-4;
  }

  .annotation-footer {
    // Margin between bottom of ascent of annotation body and
    // top of annotation footer should be ~15px
    margin-top: var.$layout-h-margin - 8px;
  }

  .annotation-header {
    // Margin between bottom of ascent of annotation card footer labels
    // and top of ascent of username should be ~20px
    margin-top: 0px;
  }

  .annotation-body {
    // Margin between top of ascent of annotation body and
    // bottom of ascent of username should be ~15px
    margin-top: var.$layout-h-margin - 8px;
    // Margin between bottom of ascent of annotation body and
    // top of annotation footer labels should be ~15px
    margin-bottom: var.$layout-h-margin - 3px;
  }
}

.annotation--flagged {
  color: var.$brand;
  cursor: default;
}
