.annotation-publish-control {
  display: flex;

  &__cancel-btn {
    @extend .btn--cancel;

    margin-left: 5px;
    font-weight: normal;

    &__icon {
      margin-right: 3px;
      transform: translateY(10%);
    }
  }

  // A split button with a primary submit on the left and a drop-down menu
  // of related options to the right
  .annotation-publish-control__btn {
    $text-color: $color-seashell;
    $default-background-color: $color-dove-gray;
    $hover-background-color: $color-mine-shaft;
    $h-padding: 9px;
    $height: 35px;
    $border-radius: 2px;
    $arrow-indicator-width: 26px;

    height: $height;
    position: relative;

    // Align the menu arrow correctly with the ▼ in the toggle
    &-menu-arrow {
      right: 5px;
    }

    // Make sure the menu content is wide enough to "reach" to the right-aligned
    // menu arrow
    &-menu-content {
      min-width: 100%;
    }

    &-primary {
      @include primary-action-btn;

      // the label occupies the entire space of the button and
      // shows a darker state on hover
      width: 100%;
      height: 100%;
      text-align: left;
      padding-left: $h-padding;
      padding-right: $arrow-indicator-width + 8px;
    }

    // dropdown arrow which reveals the button's associated menu
    // when clicked
    &-dropdown-arrow {
      position: absolute;
      right: 0px;
      top: 0px;

      height: 100%;
      width: $arrow-indicator-width;
      padding-left: 0px;
      padding-right: $h-padding;
      margin-left: 8px;

      border: none;
      background-color: $color-dove-gray;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      &:hover,
      button[aria-expanded='true'] & {
        // Show a hover effect on hover or if associated menu is open
        background-color: $hover-background-color;
      }

      &:hover &-separator,
      button[aria-expanded='true'] &-separator {
        // hide the 1px vertical separator when the dropdown arrow
        // is hovered or menu is open
        background-color: $color-dove-gray;
      }

      // 1px vertical separator between label and dropdown arrow
      &-separator {
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;

        width: 1px;
        height: 15px;

        background-color: $color-gray;
      }

      // the ▼ arrow which reveals the dropdown menu when clicked
      &-indicator {
        color: $text-color;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        line-height: $height;
        text-align: center;

        & > div {
          transform: scaleY(0.7);
        }
      }
    }
  }
}
