@use '../../variables' as var;
@use "../../mixins/buttons";

.annotation-body {
  @include var.font-normal;
  color: var.$color-text;
  margin: 1em 0;
}

.annotation-body__text {
  // Hidden annotations displayed to moderators, where the content is still
  // present.
  &.is-hidden.has-content {
    text-decoration: line-through;
    filter: grayscale(100%) contrast(65%);
  }

  // Hidden annotations displayed to non-moderators, where the content has been
  // filtered out by the service.
  &.is-hidden:not(.has-content) {
    // Create a column of horizontal stripes, giving the impression of text
    // underneath that has been censored.
    display: block;
    height: 60px;
    width: 100vw;
    background: repeating-linear-gradient(
      to bottom,
      var.$grey-2,
      var.$grey-2 15px,
      white 15px,
      white 20px
    );
  }
}

.annotation-body__collapse-toggle {
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-end;

  .annotation-body__collapse-toggle-button {
    @include buttons.button--labeled;
    padding: 0.5em;
    background-color: transparent;
  }
}
