@use "../../variables" as var;
@use "../../mixins/layout";

.annotation-license {
  @include var.font-small;
  border-top: 1px solid var.$grey-3;
  padding-top: 0.5em;

  &__link {
    @include layout.row;
    color: var.$color-text-light;
  }

  &__icon {
    width: 12px;
    height: 12px;
    margin-right: 1px;
  }

  &__details {
    margin-left: 0.25em;
  }
}
