@use "@hypothesis/frontend-shared/styles/mixins/utils";

@use "../../variables" as var;

.AnnotationTimestamps {
  &__edited {
    @include utils.font--small;
    font-style: italic;
    color: var.$color-text--light;
  }

  &__created {
    color: var.$color-text--light;
    &:hover {
      text-decoration: underline;
    }
  }
}
