@use "../../mixins/buttons";
@use "../../variables" as var;

// FIXME These hover-related rules should live elsewhere
// Highlight quote of annotation whenever its thread is hovered
.thread-list__card:hover .annotation-quote__quote {
  border-left: var.$color-quote 3px solid;
}

// When hovering a top-level annotation, show the footer in a hovered state.
// When hovering a reply (at any level), show the reply's own footer in
// a hovered state and also the footer of the top-level annotation.
// TODO: Make these work again or remove
.thread-list__card:hover > .annotation,
.annotation:hover {
  .annotation-replies__link,
  .annotation-replies__count,
  .annotation-action-btn {
    color: var.$grey-6;
  }
}

.annotation {
  &.is-highlighted {
    // Slightly darken the bodies of highlighted annotations to
    // make them stand out next to others, which will have the `is-dimmed` state
    // set
    .annotation-body {
      color: var.$color-text;
    }
  }

  &.is-dimmed {
    // Lighten the bodies of dimmed annotations to make other
    // annotations which are not dimmed stand out
    .annotation-body {
      color: var.$color-text-light;
    }
  }

  &__reply-toggle {
    @include buttons.button--link;
  }

  &__controls {
    display: flex;
  }

  &__actions {
    margin-left: auto;
  }

  &__form-actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  &__footer {
    @include var.font-normal;
    color: var.$color-text-light;
    margin-top: 1em;
  }
}

// FIXME move me
.annotation-media-embed {
  width: 369px;
  height: 208px;
}
