@use '../../mixins/buttons';
@use '../../mixins/links';
@use '../../mixins/panel';
@use "../../variables" as var;

.annotation-share-control {
  position: relative;
}

.annotation-share-panel {
  @include panel.panel--compact;
  position: absolute;
  right: 5px;
  bottom: 32px;
  width: 275px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  cursor: default;

  &__input {
    display: flex;
  }

  &__icon-button {
    @include buttons.button--input;
    padding: 0.25em 0.5em;

    &__icon {
      margin: 0;
    }
  }

  & .form-input {
    padding: 0.5em;
    border-radius: 0;
    font-size: var.$small-font-size;
  }

  &__permissions {
    margin: 0.5em 0;
    font-size: var.$small-font-size;
  }

  &__arrow {
    color: var.$grey-3;
    fill: white;
    transform: rotateX(180deg);
    position: absolute;
    z-index: 100;
    right: 0px;
  }

  .share-links__icon {
    width: 18px;
    height: 18px;
  }
}
