@use "../../mixins/buttons";
@use "../../mixins/forms";
@use "../../mixins/layout";
@use "../../mixins/utils";
@use "../../variables" as var;

.annotation-header {
  &__row {
    @include layout.row($align: baseline);
    @include layout.horizontal-rhythm;
    // Wrap onto multiple rows from bottom to top
    flex-wrap: wrap-reverse;
  }

  &__icon {
    @include utils.icon--xsmall;
    color: var.$color-text;
  }

  &__reply-toggle {
    @include buttons.button--link;
    padding: 0 var.$layout-space--xsmall;
  }

  // Timestamps are right aligned in a flex row
  &__timestamps {
    margin-left: auto;
  }

  &__highlight-icon {
    @include utils.icon--small;
    color: var.$color-text--light;
    // Pull the icon down a tad for better vertical alignment with other
    // items in the same layout row
    margin-bottom: -1px;
  }
}
