@use "../../variables" as var;
@use "../../mixins/layout";

.annotation-document-info {
  @include layout.row;
  color: var.$color-text-light;

  &__title {
    margin-right: 5px;
  }

  &__domain {
    margin-right: 5px;
  }
}
