@use '../../variables' as var;

.annotation-quote {
  &.is-orphan {
    text-decoration: line-through;
  }

  &__quote {
    border-left: 3px solid var.$color-border;
    color: var.$color-text-light;
    font-style: italic;
    padding: 0 var.$layout-margin;

    // Prevent long URLs etc. in quote causing overflow
    overflow-wrap: break-word;
  }

  &.is-focused &__quote {
    border-left: var.$color-quote 3px solid;
  }
}
