@use "../../variables" as var;
@use "../../mixins/layout";
@use "../../mixins/utils";

.annotation-license {
  @include utils.font--small;
  @include utils.border-top;
  padding-top: 0.5em;

  &__link {
    @include layout.row;
    color: var.$color-text-light;
  }

  &__icon {
    @include utils.icon--xsmall;
    // Need a tiny space between license icons
    margin-right: 1px;
  }

  &__details {
    margin-left: 0.25em;
  }
}
