@use "../../mixins/buttons";
@use "../../mixins/forms";
@use "../../variables" as var;

.annotation-publish-control {
  display: flex;

  // A split button with a primary submit on the left and a drop-down menu
  // of related options to the right
  .annotation-publish-control__btn {
    $text-color: var.$color-text-inverted;
    $default-background-color: var.$grey-mid;
    $hover-background-color: var.$grey-6;
    $h-padding: 9px;
    $height: 35px;
    $border-radius: 2px;
    $arrow-indicator-width: 26px;

    height: $height;
    display: flex;
    position: relative;
    margin-right: 1em;

    // Align the menu arrow correctly with the ▼ in the toggle
    &-menu-arrow {
      right: 5px;
    }

    // Make sure the menu content is wide enough to "reach" to the right-aligned
    // menu arrow
    &-menu-content {
      min-width: 100%;
    }

    &-cancel {
      @include buttons.button--labeled;
      padding-right: 0.5em;
      padding-left: 0.5em;

      &__icon {
        margin: 0;
      }
    }

    &-primary {
      @include forms.primary-action-btn;

      // the label occupies the entire space of the button and
      // shows a darker state on hover
      width: 100%;
      height: 100%;
      text-align: left;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    // dropdown arrow which reveals the button's associated menu
    // when clicked
    &-dropdown-arrow {
      display: flex;
      align-items: center;
      right: 0px;
      top: 0px;

      height: 100%;
      width: $arrow-indicator-width;

      border: none;
      background-color: var.$grey-mid;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      &:hover,
      button[aria-expanded='true'] & {
        // Show a hover effect on hover or if associated menu is open
        background-color: $hover-background-color;
      }

      &:hover &-separator,
      button[aria-expanded='true'] &-separator {
        // hide the 1px vertical separator when the dropdown arrow
        // is hovered or menu is open
        background-color: var.$grey-mid;
      }

      // 1px vertical separator between label and dropdown arrow
      &-separator {
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;

        width: 1px;
        height: 15px;

        background-color: var.$grey-5;
      }

      // the ▼ arrow which reveals the dropdown menu when clicked
      &-indicator {
        color: $text-color;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        line-height: $height;
        text-align: center;
        width: 100%;

        &:after {
          content: '▼';
          display: inline-block;
          transform: scaleY(0.7);
        }
      }
    }
  }
}
