@use '../../mixins/buttons';
@use '../../mixins/forms';
@use '../../mixins/layout';
@use '../../mixins/molecules';
@use "../../mixins/utils";
@use "../../variables" as var;

.annotation-share-control {
  position: relative;
}

.annotation-share-panel {
  @include molecules.panel--compact;
  position: absolute;
  right: 5px;
  bottom: 32px;
  width: 275px;
  cursor: default;

  &__input {
    @include layout.row;
  }

  &__icon-button {
    @include buttons.button--input;
    padding: var.$layout-margin--xsmall var.$layout-margin--small;
  }

  &__form-input {
    @include forms.form-input--with-button;
    @include utils.font--small;
    padding: 0.5em;
  }

  &__permissions {
    @include utils.font--small;
    margin: var.$layout-margin--small 0;
  }

  &__arrow {
    margin: 0;
    color: var.$grey-3;
    fill: white;
    transform: rotateX(180deg);
    position: absolute;
    z-index: 100;
    right: 0px;
    bottom: -8px;
  }

  .share-links__icon {
    @include utils.icon--medium;
  }
}
