@use '../../variables' as var;
@use "../../mixins/buttons";
@use "../../mixins/layout";
@use "../../mixins/molecules";

.annotation-body__text {
  &.is-hidden {
    @include molecules.redacted-content;
  }
}

.annotation-body__collapse-toggle {
  @include layout.row(right);
  @include layout.vertical-space(var.$layout-space--xsmall);

  .annotation-body__collapse-toggle-button {
    @include buttons.button--labeled;
    // The button should not have a background color except when hovered/active:
    // It should look like text only
    background-color: transparent;
  }
}
