.annotation-omega {
  &__reply-toggle.button {
    background-color: transparent;
    padding: 0;
    font-weight: 400;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &__controls {
    display: flex;
  }

  &__actions {
    margin-left: auto;
  }
}
