@use "../../variables" as var;

.annotation-document-info {
  font-size: 13px;
  color: var.$color-text-light;
  display: flex;

  &__title {
    margin-right: 5px;
  }

  &__domain {
    margin-right: 5px;
    font-size: 12px;
  }
}
