@use "../../variables" as var;

.annotation-user {
  &__user-name {
    @include var.font-normal;
    color: var.$grey-7;
    font-weight: bold;

    .is-dimmed & {
      color: var.$grey-5;
    }

    .is-highlighted & {
      color: var.$grey-7;
    }
  }
}
