@use '../../variables' as var;

.annotation-quote {
  margin: 1em 0;

  &.is-orphan {
    text-decoration: line-through;
  }

  &__quote {
    @include var.font-normal;
    border-left: 3px solid var.$grey-3;
    color: var.$color-text-light;
    font-style: italic;
    padding: 0 1em;

    // Prevent long URLs etc. in quote causing overflow
    overflow-wrap: break-word;
  }

  &.is-focused &__quote {
    border-left: var.$color-quote 3px solid;
  }
}
