@use "@hypothesis/frontend-shared/styles/mixins/utils";

@use "../../variables" as var;

.FilterSelect {
  &__menu-label {
    @include utils.font--large;
    align-items: center;
    color: var.$color-text;
    display: flex;

    // Prevent label from wrapping if top bar is too narrow to fit all of its
    // items.
    flex-shrink: 0;
    font-weight: bold;
  }

  &__menu-icon {
    @include utils.icon--medium;
    margin-right: var.$layout-space--xsmall;
  }
}
