@use "../../mixins/focus";
@use "../../mixins/forms";
@use "../../variables" as var;

// A dark grey button used for the primary action
// in a form
.focused-mode-header {
  display: flex;
  align-items: center;
  position: relative;

  background-color: var.$body-background;
  border-radius: 2px;
  border: solid 1px var.$grey-3;
  font-family: var.$sans-font-family;
  font-weight: 300;
  margin-bottom: 0.72em;
  padding: 0.5em 1em;

  &__btn {
    @include forms.primary-action-btn;
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__filter-status {
    font-weight: 400;
  }
}
