@use "../../mixins/focus";
@use "../../mixins/forms";
@use "../../mixins/layout";
@use "../../mixins/molecules";
@use "../../mixins/utils";
@use "../../variables" as var;

// A dark grey button used for the primary action
// in a form
.focused-mode-header {
  @include molecules.card-frame;
  @include layout.row($align: center);
  position: relative;

  background-color: var.$color-background;
  border-radius: 2px;
  font-weight: 300;

  // TODO cleanup
  padding: 0.5em;
  margin-bottom: 1em;

  &__btn {
    // TODO use Button component
    @include forms.primary-action-btn;
    @include layout.row($align: center);
    margin-left: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__filter-status {
    font-weight: 400;
  }
}
