/* The group-list out of scope item. */

.group-list-item-out-of-scope {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.group-list-item-out-of-scope__item {
  background-color: $gray-lightest;
  color: $gray-light;
}

.group-list-item-out-of-scope__icon--unavailable {
  fill: $gray-light;
  float: right;
  height: 20px;
  width: auto;
}

.group-list-item-out-of-scope__details {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 500;
}

.group-list-item-out-of-scope__details-toggle {
  font-size: $body1-font-size;
  font-style: italic;
  margin: 0;
  text-decoration: underline;
}

.group-list-item-out-of-scope__details-unavailable-message {
  font-size: $body1-font-size;
  line-height: 1.5;
  white-space: normal;
  width: $group-list-width - 60px;
}

.group-list-item-out-of-scope__details-actions {
  text-align: right;
}

.group-list-item-out-of-scope__details-group-page-link {
  color: inherit;
  font-size: $body1-font-size;
  text-decoration: underline;
  text-transform: uppercase;
}
