.group-list-v2__content {
  min-width: 250px;
}

.group-list-v2__menu-label {
  align-items: center;
  color: $grey-6;
  display: flex;
  font-size: $body2-font-size;
  font-weight: bold;
}

.group-list-v2__menu-icon {
  width: 15px;
  height: 15px;
  margin-right: 4px;

  // A minor adjustment to make the default icon (the Hypothesis logo) align
  // better with the text.
  position: relative;
  top: 1px;
}
