/* The groups dropdown list. */

$group-list-width: 300px;
$group-list-spacing-below: 50px;

.group-list {
  .dropdown {
    white-space: nowrap;
  }

  .dropdown-menu {
    width: $group-list-width;
    max-height: 500px;  // fallback for browsers lacking support for vh/calc
    max-height: calc(100vh - #{$top-bar-height} - #{$group-list-spacing-below});
    overflow-y: auto;

    .group-name {
      overflow: hidden;
      text-overflow: ellipsis;
      width: $group-list-width - 30px;
    }
  }

  .dropdown-menu__section--current {
    background-color: $gray-lightest;
  }

  .dropdown-menu__section--no-header {
    border-top: solid 1px rgba(0, 0, 0, 0.15);

    .group-details {
      font-weight: 400;
    }
  }

  .dropdown-menu__section-heading {
    color: $gray-light;
    font-size: 12px;
    line-height: 1;
    margin: 1px 1px 0;
    padding: 12px 10px 0;
    text-transform: uppercase;

    &:not(:first-child) {
      border-top: solid 1px rgba(0, 0, 0, 0.15);
    }
  }

  .dropdown-menu__section-heading--current {
    background-color: $gray-lightest;
  }

  .group-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    padding: 10px;
    cursor: pointer;

    &:hover {
      .group-name-link {
        color: $brand-color;
      }
    }

    &.selected {
      .group-name-link {
        font-size: $body2-font-size;
        font-weight: 600;
      }
    }
  }

  .group-item-community-groups {
    border: solid 1px transparent;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 1px;

    padding: 10px;
    cursor: pointer;

    &:focus {
      outline: none;
      @include focus-outline;
    }

    &:hover {
      background: $gray-lightest;
    }

    &.selected {
      .group-name-link {
        font-size: $body2-font-size;
        font-weight: 600;
      }
    }
  }

  .group-item--out-of-scope {
    background-color: $gray-lightest;
    color: $gray-light;
  }

  .group-icon-container {
    margin-right: 10px;
  }

  .group-menu-icon-container {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  .group-cancel-icon-container {
    // the 'Leave group' icon is shifted down slightly
    // so that it lines up vertically with the 'chat heads' icon on the
    // left-hand side of the groups list
    padding-top: 3px;
    margin-right: 2px;
  }

  .group__icon--unavailable {
    fill: $gray-light;
    float: right;
    height: 20px;
    width: auto;
  }

  .group-details {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .group-details-community-groups {
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 500;

    .group-details__unavailable-message,
    .group-details__actions {
      display: none;
    }

    &.expanded {
      .group-details__toggle {
        display: none;
      }

      .group-details__unavailable-message,
      .group-details__actions {
        display: block;
      }
    }
  }

  .group-details__toggle {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    text-decoration: underline;
  }

  .group-details__unavailable-message {
    font-size: 0.8em;
    line-height: 1.5;
    white-space: normal;
    width: $group-list-width - 60px;
  }

  .group-details__actions {
    text-align: right;
  }

  .group-details__group-page-link {
    color: inherit;
    font-size: 0.8em;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .new-group-btn {
    background-color: $gray-lightest;

    .group-item {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .h-icon-add {
      font-weight: bold;
    }
  }
}

// the icon indicating the type of group currently selected at
// the top of the groups list
.group-list-label__icon {
  color: $color-gray;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  vertical-align: baseline;

  // align the base of the chat-heads icon for groups
  // with the baseline of the group name label
  transform: translateY(1px);
}

.group-list-label__icon--organization {
  height: 15px;
  width: 15px;
  top: 2px;
}

// the label showing the currently selected group which opens
// the drop-down list when clicked
.group-list-label__label {
  font-size: $body2-font-size;
  font-weight:bold;
  display: inline-block;
}

// the anchor showing the name of the currently selected group
.group-list-label__toggle {
  color: $gray-dark;
}

// the name of a group in the groups drop-down list
// and 'Post to <Group>' button for saving annotations
.group-name-link {
  white-space: nowrap;
  color: inherit;
}


.open {
  & > .group-list__toggle {
    background: $gray-lighter;
  }
}
