@use "../../mixins/buttons";
@use "../../variables" as var;

.help-panel {
  &__sub-panel-title {
    margin: 0;
    padding: 0.5em 0;
    font-size: 1.25em;
    font-weight: 500;
  }

  &__content {
    padding: 0.5em;
    border-top: 1px solid var.$grey-3;
    border-bottom: 1px solid var.$grey-3;
    line-height: var.$normal-line-height;
    font-size: var.$normal-font-size;

    a {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
  }

  &__footer {
    padding: 0.5em 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__sub-panel-link {
    @include buttons.reset-native-btn-styles;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var.$brand;

    &-icon {
      margin-left: 2px;
      width: 12px;
      height: 12px;
    }
  }

  &-tabs {
    display: flex;
    align-items: center;

    &__tab {
      flex: 1 1 0px;
      margin-top: 0.5em;
      border-right: 1px solid var.$grey-3;
      text-align: center;
      font-size: 1.25em;
      color: var.$color-text-light;

      &:last-of-type {
        border-right: none;
      }
    }

    &__link {
      color: var.$color-text-light;
    }

    &__icon {
      width: 12px;
      height: 12px;
    }
  }
}
