@use "../../mixins/buttons";
@use "../../mixins/layout";
@use "../../variables" as var;

.logged-out-message {
  @include layout.column;
  margin: 25px auto;
  width: 70%;
  text-align: center;
  color: var.$color-text;
}

.logged-out-message__link {
  @include buttons.button--link;
  padding: 0;
  display: inline;
  color: var.$color-text;
  text-decoration: underline;
}

.logged-out-message__logo {
  @include layout.row(center);
  margin-top: 25px;
}

.logged-out-message__logo-icon {
  width: 30px;
  height: 30px;
  color: var.$grey-mid;

  &:hover {
    color: var.$grey-7;
  }
}
