@use "../../variables" as var;

.logged-out-message {
  margin: 25px auto;
  width: 70%;
  text-align: center;
  color: var.$grey-mid;
  display: flex;
  flex-direction: column;
}

.logged-out-message__link {
  padding: 0;
  display: inline;
  color: var.$grey-mid;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    color: var.$grey-7;
    text-decoration: none;
  }
}

.logged-out-message__logo {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.logged-out-message__logo-icon {
  font-size: 30px;
  color: var.$grey-4;

  &:hover {
    color: var.$grey-7;
  }
}
