@use '../../variables' as var;

@use '../../mixins/forms';

.MarkdownEditor__toolbar {
  // Toolbar buttons wrap on non-touch devices if they don't fit. We don't use
  // scrolling because that's less convenient to use with a mouse/touchpad.
  flex-wrap: wrap;
  border-radius: var.$border-radius var.$border-radius 0 0;
  width: 100%;
  padding: 0.25rem;
}

.MarkdownEditor__input {
  @include forms.form-input;

  line-height: var.$line-height;
  min-height: 8em;
  resize: vertical;
  width: 100%;
}

.MarkdownEditor__toolbar-button {
  padding: 0.5rem;
  font-size: 10px;
}

@media (pointer: coarse) {
  .MarkdownEditor__toolbar {
    // Remove the padding to avoid the toolbar taking up too much space as we
    // make the buttons larger.
    padding: 0;

    // Some extra padding at the bottom is needed though as otherwise the
    // browser is likely to confuse taps on the toolbar buttons and taps on
    // selection handles, if some text in the first line of the input is
    // selected.
    padding-bottom: 10px;

    // Use scrolling rather than wrapping to handle overflow for touch devices.
    // This saves vertical space.
    flex-wrap: unset;
    overflow-x: scroll;

    &-button {
      font-size: 12px;
    }
  }
}
