$menu-item-padding: 10px;

.menu-item {
  @include outline-on-keyboard-focus;

  $item-height: 40px;

  color: $grey-6;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-weight: 500;
  align-items: center;
  min-width: 150px;
  min-height: $item-height;

  // TODO - Make the link fill the full available vertical space.
  cursor: pointer;

  // Prevent menu item text from being selected when user toggles menu.
  user-select: none;

  // An item in a submenu associated with a top-level item.
  &--submenu {
    min-height: $item-height - 10px;
    background: $grey-1;
    color: mix($grey-5, $grey-6, $weight: 50%);
    font-weight: normal;
  }

  // Animate the background color transition of menu items with expanding submenus.
  // The timing should match the expansion of the submenu.
  transition: background 0.15s ease-in;

  &.is-expanded {
    // Set the background color of menu items with submenus to match the
    // submenu items.
    background: $grey-1;
  }
}

// The container for the clickable area of the menu item which triggers its
// main action. For menu items without submenus, this covers the full area of
// the menu item. For menu items with submenus, this covers the full area
// except for the toggle that opens the submenu.
.menu-item__action {
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: $menu-item-padding;

  &:hover {
    background: $grey-1;

    .menu-item.is-expanded & {
      // Since expanded items already have a light grey background, we need to
      // make the hover state a little darker. This should match submenu items'
      // hover state.
      background: $grey-3;
    }

    // Since submenu items already have a light grey background, we need to
    // use a slightly darker grey as the hover state.
    .menu-item--submenu & {
      background: $grey-3;
      color: $grey-6;
    }
  }

  .menu-item.is-selected & {
    $border-width: 4px;
    border-left: $border-width solid $brand;
    padding-left: $menu-item-padding - $border-width;
  }
}

.menu-item__icon-container {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.menu-item__icon {
  color: inherit;
  display: inline-block;
  margin-right: 4px;
  position: relative;

  height: 15px;
  width: 15px;
}

.menu-item__label {
  align-self: stretch;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: inherit;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: inherit;

  padding-right: $menu-item-padding;

  &--submenu {
    font-weight: normal;
  }

  .menu-item.is-disabled & {
    color: $grey-4;
  }
}

// Toggle button used to expand or collapse the submenu associated with a menu
// item.
.menu-item__toggle {
  @include outline-on-keyboard-focus;

  color: $grey-4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 40px;

  // Add a wide transparent border to provide a large-enough hit target (~40px),
  // larger than the visual size of the button (~20px).
  background-color: $grey-1;
  background-clip: content-box;
  border: 7px solid transparent;

  // Add slight rounded borders. border-radius sets the outer radius, but
  // what the user sees is the inner radius, which is much smaller.
  border-radius: 12px;

  &:hover {
    background-color: $grey-3;
    color: $grey-5;
  }

  &-icon {
    width: 12px;
    height: 12px;
  }
}

// The container for open submenus
.menu-item__submenu {
  border-bottom: solid 1px $grey-2;
}
