.menu-section__content {
  border-bottom: solid 1px $grey-3;
}

.menu-section__heading {
  color: $gray-light;
  font-size: $body1-font-size;
  line-height: 1;
  margin: 1px 1px 0;
  margin-bottom: 10px;
  padding: 12px 10px 0;
  text-transform: uppercase;
}
