@use "../../variables" as var;
@use "../../mixins/layout";

.NotebookResultCount {
  @include layout.horizontal-rhythm;
  font-size: var.$font-size--large;
  // Normalize line height to ensure vertical stability (no jumping around)
  line-height: 1;

  & h2 {
    em {
      font-weight: bold;
      font-style: normal;
    }
  }

  & h3 {
    font-style: italic;
  }
}
