@use "../../mixins/responsive";
@use "../../mixins/utils";
@use "../../variables" as var;

.notebook-view {
  display: grid;
  row-gap: var.$layout-space--xsmall;
  grid-template-areas:
    'heading'
    'results'
    'items';

  &__heading {
    grid-area: heading;
  }

  &__filters {
    grid-area: filters;
  }

  &__results {
    grid-area: results;
  }

  &__items {
    grid-area: items;
  }

  &__group-name {
    font-size: var.$font-size--heading;
    font-weight: bold;
  }

  @include responsive.tablet-and-up {
    grid-template-areas:
      'heading heading'
      'filters results'
      'items items';

    &__filters {
      justify-self: start;
    }

    &__results {
      // Align right and bottom
      justify-self: end;
      align-self: flex-end;
    }
  }
}
