.selection-tabs {
  display: flex;
  flex-direction: row;
  color: $grey-5;
  @include font-normal;

  &:hover {
    color: $grey-6;
  }

  padding-bottom: 10px;
}

.selection-tabs--theme-clean {
  margin-left: 15px;
}

.selection-tabs__type {
  @include outline-on-keyboard-focus;

  color: $grey-6;
  margin-right: 20px;
  cursor: pointer;
  min-width: 85px;
  min-height: 18px;

  user-select: none;
}

.selection-tabs__type.is-selected {
  font-weight: bold;
}

.selection-tabs__count {
  position: relative;
  bottom: 3px;
  font-size: 10px;
}

.selection-tabs__empty-message {
  position: relative;
  top: 10px;
}

.selection-tabs__type--orphan {
  margin-left: -5px;
}
