@use "../../mixins/focus";
@use "../../mixins/buttons";
@use "../../variables" as var;

.selection-tabs {
  display: flex;
  flex-direction: row;
  color: var.$color-text-light;
  @include var.font-normal;

  &:hover {
    color: var.$color-text;
  }

  padding-bottom: 10px;
}

.selection-tabs__icon {
  color: var.$grey-mid;
  margin: 0 0.25em;
}

.selection-tabs--theme-clean {
  margin-left: 15px;
}

.selection-tabs__type {
  @include buttons.reset-native-btn-styles;
  @include focus.outline-on-keyboard-focus;

  color: var.$color-text;
  margin-right: 20px;
  cursor: pointer;
  min-width: 85px;
  min-height: 18px;

  user-select: none;

  &:hover {
    color: var.$color-link-hover;
  }
}

.selection-tabs__type.is-selected {
  font-weight: bold;
}

.selection-tabs__count {
  position: relative;
  bottom: 3px;
  font-size: 10px;
}

.selection-tabs__empty-message {
  position: relative;
  top: 10px;
}

.selection-tabs__type--orphan {
  margin-left: -5px;
}

.selection-tabs__message {
  color: var.$color-text;
  border: 1px solid var.$grey-3;
  padding: 2em;
  text-align: center;
}
