@use "@hypothesis/frontend-shared/styles/mixins/focus";

@use "../../mixins/buttons";
@use "../../mixins/layout";
@use "../../mixins/utils";
@use "../../variables" as var;

.selection-tabs-container {
  @include layout.vertical-rhythm;
  // FIXME: This should be a margin, and it should be handled by the parent,
  // but needs to be considered carefully because applying vertical rhythm to
  // this component's parent messes with the calculations in the virtualized
  // thread list. Needs another pass. Note also that it is `10px` (and looks
  // unbalanced at the standard vertical rhythm size of `1em`)
  padding-bottom: 10px;
}

.selection-tabs {
  @include layout.row;
  @include layout.horizontal-rhythm(20px);
}

.selection-tabs__icon {
  color: var.$grey-mid;
  margin: 0 var.$layout-space--xxsmall;
}

.selection-tabs__type {
  @include buttons.reset-native-btn-styles;
  @include focus.outline-on-keyboard-focus;

  color: var.$color-text;
  cursor: pointer;
  min-width: 85px;
  min-height: 18px;

  user-select: none;

  &:hover {
    color: var.$color-link-hover;
  }
}

.selection-tabs__type.is-selected {
  font-weight: bold;
}

.selection-tabs__count {
  @include utils.font--xsmall;
  position: relative;
  bottom: 3px;
}

.selection-tabs__empty-message {
  position: relative;
  top: 10px;
}

.selection-tabs__type--orphan {
  margin-left: -5px;
}

.selection-tabs__message {
  @include utils.border;
  color: var.$color-text;
  padding: 2em;
  text-align: center;
}

/** Clean theme affordances */
#{var.$sidebar--theme-clean} .selection-tabs {
  margin-left: 15px;
}
