@use '../../variables' as var;

.SelectionTabs__container {
  // FIXME: This should be a margin, and it should be handled by the parent,
  // but needs to be considered carefully because applying vertical rhythm to
  // this component's parent messes with the calculations in the virtualized
  // thread list. Needs another pass. Note also that it is `10px` (and looks
  // unbalanced at the standard vertical rhythm size of `1rem`)
  padding-bottom: 10px;
}

.SelectionTab {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: transparent;

  min-width: 5.25rem;

  &:hover:not([disabled]) {
    color: var.$color-link-hover;
  }

  &.is-selected {
    font-weight: bold;
  }
}

/** Clean theme affordances */
#{var.$sidebar--theme-clean} .SelectionTabs {
  margin-left: 15px;
}
