@use "../../variables" as var;
@use "../../mixins/buttons";
@use "../../mixins/forms";
@use "../../mixins/molecules";
@use "../../mixins/utils";

.share-annotations-panel {
  color: var.$color-text--light;

  &__intro {
    color: var.$color-text;
    font-weight: 500;
  }

  &__form-input {
    @include forms.form-input--with-button;
  }

  &__icon-button {
    @include buttons.button--input;
  }

  // FIXME: Centralize styling of different sizes of Spinner in a reusable
  // class or mixin.
  // Spinner uses `em`-sizing; make the font-size of the containing element
  // larger to make spinner larger
  &__spinner {
    font-size: (var.$layout-space * 2);
  }
}
