@use "../../variables" as var;
@use "../../mixins/buttons";
@use "../../mixins/links";

.share-annotations-panel {
  color: var.$color-text-light;

  &__intro {
    color: var.$color-text;
    font-weight: 500;
  }

  &__input {
    display: flex;
  }

  &__form-input {
    border-radius: 0;
  }

  &__icon--inline {
    width: 1em;
    height: 1em;
  }

  &__icon-button {
    @include buttons.button--input;
  }

  .share-annotations-panel-links {
    @include links.footer-links;

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}
