// CSS Spinner modified from http://dabblet.com/gist/7615212
// Works in modern browsers & IE10, IE9 gets stationary spinner.
//
// Examples
//
//   <!-- Three nested spans -->
//   <span class="Spinner"><span><span></span></span></span>
@use "sass:math";

$container-width: 1em;
$container-height: $container-width;
$part-width: 0.1em;
$part-height: 3 * $part-width;

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

// Container which centers the spinner vertically.
.Spinner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// The actual spinner itself.
.Spinner {
  position: relative;
  display: inline-block;
  width: $container-width;
  height: $container-width;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1.25s infinite steps(12);
}

.Spinner:before,
.Spinner:after,
.Spinner > span:before,
.Spinner > span:after,
.Spinner > span > span:before,
.Spinner > span > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: math.div(($container-width - $part-width), 2);
  width: $part-width;
  height: $part-height;
  border-radius: 0.1em;
  background: #eee;
  box-shadow: 0 ($container-height - $part-height) rgba(0, 0, 0, 0.15);
  transform-origin: 50% math.div($container-height, 2);
}

.Spinner:before {
  background: rgba(0, 0, 0, 0.65);
}

.Spinner:after {
  transform: rotate(-30deg);
  background: rgba(0, 0, 0, 0.6);
}

.Spinner > span:before {
  transform: rotate(-60deg);
  background: rgba(0, 0, 0, 0.5);
}

.Spinner > span:after {
  transform: rotate(-90deg);
  background: rgba(0, 0, 0, 0.4);
}

.Spinner > span > span:before {
  transform: rotate(-120deg);
  background: rgba(0, 0, 0, 0.3);
}

.Spinner > span > span:after {
  transform: rotate(-150deg);
  background: rgba(0, 0, 0, 0.2);
}
