@use "../../mixins/forms";
@use "../../mixins/buttons";
@use "../../variables" as var;

.tag-editor {
  margin: 0.5em 0;

  &__input {
    @include forms.form-input;
    width: 100%;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
  }

  &__item {
    display: flex;
    margin: 0.25em 0.5em 0.25em 0;
    line-height: var.$base-line-height;
  }

  &__edit {
    color: var.$color-text;
    background: var.$grey-1;
    border: 1px solid var.$grey-3;
    border-radius: 2px 0 0 2px;
    border-right-width: 0;
    padding: 0 0.5em;
  }

  &__delete {
    @include buttons.button;
    color: var.$grey-mid;
    background-color: var.$grey-1;
    padding: 0 0.5em;
    border: 1px solid var.$grey-3;
    border-radius: 0 2px 2px 0;

    &:hover {
      background-color: var.$grey-2;
    }
  }
}
