@use "../../variables" as var;

.tag-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }

  &__link {
    text-decoration: none;
    color: var.$grey-6;
    background: var.$grey-1;
    border: 1px solid var.$grey-3;
    border-radius: 2px;
    padding: 0.25em 0.5em;

    &:hover,
    &:focus {
      color: var.$brand;
      border-color: var.$grey-5;
    }
  }
}
