@use "../../variables" as var;

.tag-list {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0.25em 0.5em 0.25em 0;
    padding: 0 0.5em;
    line-height: var.$base-line-height;
    background: var.$grey-1;
    border: 1px solid var.$grey-3;
    border-radius: 2px;
  }

  &__link,
  &__text {
    text-decoration: none;
    color: var.$grey-6;
  }

  &__link {
    &:hover,
    &:focus {
      color: var.$brand;
      border-color: var.$grey-4;
    }
  }
}
