@use "../../variables" as var;
@use "../../mixins/layout";
@use "../../mixins/utils";

.tag-list {
  @include layout.row;
  flex-wrap: wrap;
  margin: 1em 0;

  &__item {
    @include utils.border;
    margin: var.$layout-space--xsmall var.$layout-space--small
      var.$layout-space--xsmall 0;
    padding: 2px var.$layout-space--small;
    background: var.$grey-0;
    border-radius: var.$border-radius;
  }

  &__link,
  &__text {
    text-decoration: none;
    color: var.$color-text-light;
  }

  &__link {
    &:hover,
    &:focus {
      color: var.$color-brand;
      border-color: var.$grey-4;
    }
  }
}
