// Styles for the ngTagsInput plugin.
// http://mbenford.github.io/ngTagsInput/gettingstarted

@import '../../mixins/forms';
@import '../../variables';

tags-input {
  .host {
    outline: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    @include form-input;

    &.focused {
      @include form-input-focus;
    }

    // Input
    .input {
      padding: 0.1333em 0;
      outline: none;
      border: none !important;
      background: none;
      color: $gray;

      // Firefox and Webkit render input boxes at different heights. This
      // causes issues when the tags (which render consistentely) are inserted
      // and cause the height of the faux input to jump.
      height: 1.4667em;
    }
  }

  .tag-list {
    margin-top: -0.33em; // Absorb the first row of margin-top on the tags.
    display: flex;
    flex-wrap: wrap;
  }

  .tag-item {
    position: relative;
    padding: 0.0769em 1.307em 0.0769em 0.538em;
    margin-top: 0.384em;
    margin-right: 0.384em;
    font-size: 0.866em;
    color: $grey-6;
    border: 1px solid $grey-4;
    background-color: $grey-3;
    border-radius: 2px;

    &.selected {
      @include btn-hover;
      @include focus-outline;
    }

    .remove-button {
      user-select: none;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0.9412em;
      font-size: 1.3077em;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      color: #585858;
      cursor: pointer;
    }
  }
}

.tags-read-only {
  font-size: $normal-font-size;
  margin: 0.4545em 0;

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    // Margin between bottom of ascent of annotation body and
    // top of tags list should be ~15px
    margin-top: -$layout-h-margin + 10px;
    // Margin between top of x-height of annotation footer
    // labels and bottom of tags list should be ~15px
    margin-bottom: $layout-h-margin - 10px;

    .tag-item {
      margin: 0 0.4545em 0.4545em 0;

      a {
        text-decoration: none;
        border: 1px solid $grey-3;
        border-radius: 2px;
        padding: 0 0.4545em 0.1818em;
        color: $grey-6;
        background: $grey-2;

        &:hover,
        &:focus {
          color: $link-color-hover;
        }
      }
    }
  }
}

tags-input .autocomplete {
  margin-top: 0.3em;
  position: absolute;
  padding: 0.3em 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: thin solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);

  .suggestion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .suggestion-item {
    padding: 0.3em 0.6em;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $sans-font-family;
    color: black;
    background-color: white;

    em {
      font-family: $sans-font-family;
      font-weight: bold;
      font-style: normal;
      color: black;
      background-color: white;
    }

    &.selected {
      color: white;
      background-color: #0097cf;
      em {
        color: white;
        background-color: #0097cf;
      }
    }
  }
}
