@use "../../variables" as var;

.thread {
  display: flex;

  &--reply {
    margin-top: 0.5em;
  }

  // Conserve space for deeper usable nesting
  &__children {
    margin-left: -0.75em;
  }

  // Left "channel" of thread
  &__collapse {
    margin-right: 1em;
    border-right: 1px dashed var.$grey-3;
    // The entire channel is NOT clickable so don't make it look like it is
    // (overrides `pointer` cursor applied to entire card)
    cursor: auto;

    // Darken thread line on hover as a visual cue to show related thread items
    &:hover {
      border-right: 1px dashed var.$grey-4;
    }

    .is-collapsed & {
      border-right: none;
    }
  }

  // TODO These styles should be consolidated with other `Button` styles
  &__collapse-button {
    margin-right: -1.25em;
    padding: 0.25em 0.75em 0.75em 0.75em;
    // Need a non-transparent background so that the dashed border line
    // does not show through the button
    background-color: var.$white;

    .button__icon {
      width: 12px;
      height: 12px;
      color: var.$grey-4;
    }

    &:hover {
      .button__icon {
        color: var.$grey-6;
      }
    }
  }

  &__content {
    flex-grow: 1;
    // Prevent long, non-wrapping content (typically URLs) from exceeding
    // the width of the annotation card
    overflow: hidden;
  }
}
