@use "../../variables" as var;

.thread-list-omega {
  &__thread {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var.$white;

    &:hover {
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    }
  }
}
