@use "../../variables" as var;

.thread {
  &--reply {
    margin-top: 0.5em;
    padding-top: 0.5em;
  }
  display: flex;

  &__collapse {
    border-left: 1px dashed var.$grey-3;
    margin: 0.25em;
    margin-top: 0;
    cursor: auto;

    &:hover {
      border-left: 1px dashed var.$grey-4;
    }
  }

  .is-collapsed &__collapse {
    border-left: none;
  }

  &__collapse-button {
    margin-left: -1.25em;
    padding: 0.75em;
    padding-top: 0.25em;
    padding-bottom: 1em;
    background-color: var.$white;

    .button__icon {
      color: var.$grey-4;
      width: 12px;
      height: 12px;
    }

    &:hover {
      .button__icon {
        color: var.$grey-6;
      }
    }
  }

  &__content {
    flex-grow: 1;
    // Prevent annotation content from overflowing the container
    max-width: 100%;
  }
}
