@use "../../mixins/molecules";
@use "../../mixins/layout";
@use "../mixins/responsive";
@use "../../variables" as var;

.toast-messages {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  padding: 0 0.5em;

  @include responsive.tablet-and-up {
    // When displaying in a wider viewport (desktop/tablet outside of sidebar)
    max-width: responsive.$break-tablet;
    width: responsive.$break-tablet;
    padding-left: 2rem;
    padding-right: 2rem;
    left: 50%;
    margin-left: calc(-0.5 * #{responsive.$break-tablet});
  }
}

.toast-message-container {
  position: relative;
  width: 100%;
  animation: slidein 0.3s forwards ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.is-dismissed {
    animation: fadeout 0.3s forwards;
  }
}

.toast-message {
  @include molecules.card-frame;
  @include layout.row($align: center);
  position: relative;
  width: 100%;
  margin-bottom: 0.75em;

  &--success {
    border: 1px solid var.$color-success;
  }

  &--error {
    border: 1px solid var.$color-error;
  }

  &--notice {
    border: 1px solid var.$color-notice;
  }

  &__type {
    @include layout.row($align: center);
    padding: 1em;
    color: white;
  }

  &--success &__type {
    background-color: var.$color-success;
  }

  &--error &__type {
    background-color: var.$color-error;
  }

  &--notice &__type {
    background-color: var.$color-notice;
  }

  &__icon {
    // Specific adjustments for success and error icons
    margin-top: 2px;
  }

  &__message {
    padding: 1em;
    width: 100%;
  }

  &__link {
    text-align: right;
    text-decoration: underline;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    left: 100%;
  }
  80% {
    left: -10px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
