@use "../../mixins/buttons";
@use "../../mixins/layout";
@use "../../variables" as var;

.top-bar {
  background: var.$white;
  border-bottom: solid 1px var.$grey-3;
  height: var.$top-bar-height;
  // TODO bring into standard rhythm of typography
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  // Force top-bar onto a new compositor layer so that it does not judder when
  // the window is scrolled.
  transform: translate3d(0, 0, 0);

  &__icon-button,
  &__menu-icon {
    &.is-active {
      color: var.$grey-7;

      &:hover {
        color: var.$grey-7;
      }
    }
  }

  &__icon-button--refresh {
    color: var.$brand;

    &:hover {
      color: var.$brand;
    }
  }

  &__menu-label {
    padding: 0.25em;
  }
}

.top-bar--theme-clean {
  border-bottom: none;
}

.top-bar__login-button.button {
  padding: 0 0.25em;
  background-color: transparent;
  color: var.$brand;
  font-size: var.$body2-font-size;
  font-weight: 400;

  &:hover {
    color: var.$link-color-hover;
  }
}

.top-bar__login-links {
  display: flex;
  flex-shrink: 0;
}

.top-bar__inner {
  @include layout.sidebar-content;

  // the edges of the top-bar's contents should be aligned
  // with the edges of annotation cards displayed below
  $h-padding: 9px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  padding-left: $h-padding;
  padding-right: $h-padding;

  height: 100%;
}

.top-bar__inner .group-list {
  justify-self: flex-start;
  margin-right: auto;
  white-space: nowrap;
}

// an expander which adds spacing between the groups list
// and the toolbar icons (in the new top-bar design)
.top-bar__expander {
  flex-grow: 1;
}
