@use "../../mixins/buttons";
@use "../../mixins/layout";
@use "../../mixins/utils";
@use "../../variables" as var;

.top-bar {
  @include utils.font--large;
  @include utils.border-bottom;
  color: var.$grey-mid;
  background: lightBlue;
  height: var.$top-bar-height;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  // Force top-bar onto a new compositor layer so that it does not judder when
  // the window is scrolled.
  transform: translate3d(0, 0, 0);

  &__icon-button {
    @include buttons.button--icon-only;
    padding: 0.25em;
    @media (pointer: coarse) {
      // Until the top bar can be refactored to allow for breathing room around
      // the search interface, we can't spare the room for comfortable tap targets
      // on touchscreen devices. This overrides `Button`'s larger tap targets.
      min-width: auto;
      min-height: auto;
    }
  }

  &__icon-button {
    color: var.$grey-mid;

    &.is-active {
      color: var.$grey-7;

      &:hover {
        color: var.$grey-7;
      }
    }
  }

  &__icon-button--refresh {
    color: var.$color-brand;

    &:hover {
      color: var.$color-brand;
    }
  }

  &__menu-label {
    padding: var.$layout-space--xxsmall;
  }
}

.top-bar--theme-clean {
  border-bottom: none;
}

.top-bar__login-button {
  @include buttons.button;
  @include utils.font--large;
  padding: 0 var.$layout-space--xxsmall;
  color: var.$color-brand;

  &:hover {
    color: var.$color-link-hover;
  }

  @media (pointer: coarse) {
    min-width: inherit;
    min-height: inherit;
  }
}

.top-bar__login-links {
  @include layout.row;
  flex-shrink: 0;
}

.top-bar__inner {
  @include layout.sidebar-content;
  @include layout.row(right, center);

  // FIXME: This odd font size rule is because the spinner uses a `1em` dimension
  // and we want to assure it displays at the same dimensions as the other icons
  // in this top bar
  font-size: var.$icon-size--medium;

  // the edges of the top-bar's contents should be aligned
  // with the edges of annotation cards displayed below
  $h-padding: 9px;

  padding-left: $h-padding;
  padding-right: $h-padding;

  height: 100%;
}

.top-bar__inner .group-list {
  justify-self: flex-start;
  margin-right: auto;
  white-space: nowrap;
}
