@use "../../mixins/buttons";
@use "../../variables" as var;

.top-bar {
  background: var.$white;
  border-bottom: solid 1px var.$grey-3;
  height: var.$top-bar-height;
  // TODO bring into standard rhythm of typography
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  // Force top-bar onto a new compositor layer so that it does not judder when
  // the window is scrolled.
  transform: translate3d(0, 0, 0);
}

.top-bar--theme-clean {
  border-bottom: none;
}

.top-bar__login-links {
  flex-shrink: 0;
  font-size: var.$body2-font-size;
  padding-left: 5px;
}

.top-bar__inner {
  // the edges of the top-bar's contents should be aligned
  // with the edges of annotation cards displayed below
  $h-padding: 9px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  padding-left: $h-padding;
  padding-right: $h-padding;

  height: 100%;
}

.top-bar__inner .group-list {
  justify-self: flex-start;
  margin-right: auto;
  white-space: nowrap;
}

// an expander which adds spacing between the groups list
// and the toolbar icons (in the new top-bar design)
.top-bar__expander {
  flex-grow: 1;
}

.top-bar__btn {
  @include buttons.reset-native-btn-styles;

  height: 100%;
  color: var.$gray-light;
  display: inline-block;
  cursor: pointer;
  padding: 1px 3px 0 3px;

  &:hover {
    color: var.$gray-dark;
  }

  &.is-active {
    color: var.$gray-dark;
  }

  &--refresh {
    color: var.$brand;

    &:hover {
      color: var.$brand;
    }
  }
}
