.version-info {
  margin-top: 0.5em;

  &__key {
    float: left;
    width: 8em;
    margin-bottom: 0.5em;
    padding-right: 1em;
    line-height: 1.25em;
    text-align: right;
    font-weight: 500;
    color: $grey-6;
  }

  &__value {
    margin-bottom: 0.5em;
    margin-left: 8em;
    overflow-wrap: break-word; // Keep really long userids from overflowing
    color: $grey-6;
  }

  &__actions {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
  }

  &__copy-btn {
    @include outline-on-keyboard-focus;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: none;
    padding: 0.5em;
    background-color: $grey-1;
    color: $grey-5;
    font-weight: 700;

    &-icon {
      color: $grey-5;
      margin: 0 5px;
    }

    &:hover {
      transition: 0.2s ease-out;
      background-color: $grey-2;
      color: $grey-6;
    }
  }
}
