@use "../../variables" as var;
@use "../../mixins/layout";

.version-info {
  margin-top: 0.5em;

  &__key {
    float: left;
    width: 8em;
    margin-bottom: 0.5em;
    padding-right: 1em;
    line-height: 1.25em;
    text-align: right;
    font-weight: 500;
    color: var.$color-text;
  }

  &__value {
    margin-bottom: 0.5em;
    margin-left: 8em;
    overflow-wrap: break-word; // Keep really long userids from overflowing
    color: var.$color-text-light;
  }

  &__actions {
    @include layout.row(center);
    padding-bottom: 0.5em;
  }
}
