<script>
  window.hypothesisConfig = function() {
    return {
      // enableExperimentalNewNoteButton: true,
      // showHighlights: 'always',
      // theme: 'clean',

      // Example focused user mode
      // focus: {
      //   user: {
      //     username: 'devdata_user',
      //     displayName: 'Freddy Potato',
      //   }
      // },
      // Example services config
      // services: [{
      //   apiUrl: 'http://localhost:5000/api',
      //   authority: 'partner.org',
      //   allowLeavingGroups: false,
      //   groups: ['a-group-id', 'another-group-id'],
      // }],

      // Open the sidebar when the page loads
      openSidebar: true,
    };
  };
</script>