<header class="annotation-header" ng-if="!vm.user()">
  <strong>You must be logged in to create annotations and highlights.</strong>
</header>

<div ng-keydown="vm.onKeydown($event)" ng-if="vm.user()">

  <annotation-header annotation="vm.annotation"
                         is-editing="vm.editing()"
                         is-highlight="vm.isHighlight()"
                         is-private="vm.state().isPrivate"
                         on-reply-count-click="vm.onReplyCountClick()"
                         reply-count="vm.replyCount"
                         show-document-info="vm.showDocumentInfo">
  </annotation-header>

  <annotation-quote
    quote="vm.quote()"
    is-orphan="vm.isOrphan()"
    ng-if="vm.quote()">
  </annotation-quote>

  <annotation-body
    collapse="vm.collapseBody"
    is-editing="vm.editing()"
    is-hidden-by-moderator="vm.isHiddenByModerator()"
    on-collapsible-changed="vm.setBodyCollapsible(collapsible)"
    on-edit-text="vm.setText(text)"
    on-toggle-collapsed="vm.collapseBody = collapsed"
    text="vm.state().text">
  </annotation-body>

  <div class="annotation-link-more">
    <a class="annotation-link u-strong" ng-show="vm.canCollapseBody && !vm.editing()"
      ng-click="vm.toggleCollapseBody($event)"
      ng-title="vm.collapseBody ? 'Show the full annotation text' : 'Show the first few lines only'"
      ng-bind="vm.collapseBody ? 'More' : 'Less'"
      h-branding="accentColor">mire</a>
  </div>
  <!-- Tags -->
  <div class="annotation-body form-field" ng-if="vm.editing()">
    <tag-editor tags="vm.state().tags"
                on-edit-tags="vm.setTags(tags)"></tag-editor>
  </div>

  <tag-list
    annotation="vm.annotation"
    tags="vm.state().tags" 
  ></tag-list>
  <!-- / Tags -->

  <footer class="annotation-footer">

    <div class="annotation-form-actions" ng-if="vm.editing()">
      <annotation-publish-control
        group="vm.group()"
        is-disabled="!vm.hasContent()"
        is-shared="vm.isShared()"
        on-cancel="vm.revert()"
        on-save="vm.save()"
        on-set-privacy="vm.setPrivacy(level)"></annotation-publish-control>
    </div>

    <annotation-license ng-if="vm.shouldShowLicense()"></annotation-license>

    <div class="annotation-replies" ng-if="!vm.isReply() && vm.replyCount > 0">
      <a href=""
        ng-click="vm.onReplyCountClick()">
        <span class="annotation-replies__link">{{ vm.isCollapsed ? 'Show replies' : 'Hide replies' }}</span>
        <span class="annotation-replies__count">({{ vm.replyCount }})</span>
      </a>
    </div>

    <div class="annotation-actions" ng-if="vm.isSaving">
      Saving...
    </div>

    <div class="annotation-actions" ng-if="!vm.isSaving && !vm.editing() && vm.id()">
      <annotation-action-bar
        annotation="vm.annotation"
        is-private="vm.state().isPrivate"
        on-delete="vm.delete()"
        on-flag="vm.flag()"
        on-edit="vm.edit()"
        on-reply="vm.reply()"></annotation-action-bar>
    </div>
  </footer>
</div>
