<header class="annotation-header" ng-if="!vm.user()">
  <strong>You must be logged in to create annotations and highlights.</strong>
</header>

<div ng-keydown="vm.onKeydown($event)" ng-if="vm.user()">

  <annotation-header annotation="vm.annotation"
                         is-editing="vm.editing()"
                         on-reply-count-click="vm.onReplyCountClick()"
                         reply-count="vm.replyCount"
                         show-document-info="vm.showDocumentInfo"
                         thread-is-collapsed="vm.isCollapsed">
  </annotation-header>

  <annotation-quote annotation="vm.annotation" ng-if="vm.quote()">
  </annotation-quote>

  <annotation-body
    annotation="vm.annotation"
    is-editing="vm.editing()"
    on-edit-text="vm.setText(text)"
    text="vm.state().text">
  </annotation-body>

  <!-- Tags -->
  <tag-editor
    ng-if="vm.editing()"
    annotation="vm.annotation"
    on-edit-tags="vm.setTags(tags)"
    tag-list="vm.state().tags"
  >
  </tag-editor>

  <tag-list
    ng-if="!vm.editing()"
    annotation="vm.annotation"
    tags="vm.state().tags"
  ></tag-list>
  <!-- / Tags -->

  <footer class="annotation-footer">

    <div class="annotation-form-actions" ng-if="vm.editing()">
      <annotation-publish-control
        annotation="vm.annotation"
        is-disabled="!vm.hasContent()"
        on-save="vm.save()"></annotation-publish-control>
    </div>

    <annotation-license ng-if="vm.shouldShowLicense()"></annotation-license>

    <div class="annotation-replies" ng-if="!vm.isReply() && vm.replyCount > 0">
      <a href=""
        ng-click="vm.onReplyCountClick()">
        <span class="annotation-replies__link">{{ vm.isCollapsed ? 'Show replies' : 'Hide replies' }}</span>
        <span class="annotation-replies__count">({{ vm.replyCount }})</span>
      </a>
    </div>

    <div class="annotation-actions" ng-if="vm.isSaving">
      Saving...
    </div>

    <div class="annotation-actions" ng-if="!vm.isSaving && !vm.editing() && vm.id()">
      <annotation-action-bar
        annotation="vm.annotation"
        on-reply="vm.reply()"></annotation-action-bar>
    </div>
  </footer>
</div>
