<div
  class="group-list-item-out-of-scope__item"
  ng-class="{'group-list-item__item': true, 'is-selected': false}"
  ng-click="vm.toggleGroupDetails($event)"
  tabindex="0"
>
  <!-- the group icon !-->
  <div class="group-list-item__icon-container">
    <img
      class="group-list-item__icon group-list-item__icon--organization"
      alt="{{ vm.orgName() }}"
      ng-src="{{ vm.group.logo }}"
      ng-if="vm.group.logo"
    />
  </div>
  <!-- the group name and share link !-->
  <div
    ng-class="{'group-list-item-out-of-scope__details': true, expanded: vm.isDetailsExpanded}"
  >
    <svg
      class="svg-icon group-list-item-out-of-scope__icon--unavailable"
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      viewBox="0 0 24 24"
    >
      <path fill="none" d="M0 0h24v24H0V0z" />
      <path
        d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
      />
    </svg>
    <a
      class="group-list-item__name-link"
      href=""
      title="Group not annotatable on this domain."
    >
      {{vm.group.name}} </a
    ><br />
    <p
      class="group-list-item-out-of-scope__details-toggle"
      ng-if="!vm.isDetailsExpanded"
    >
      Why is this group unavailable?
    </p>
    <p
      class="group-list-item-out-of-scope__details-unavailable-message"
      ng-if="vm.isDetailsExpanded"
    >
      This group has been restricted to selected URLs by its administrators.
    </p>
    <p
      class="group-list-item-out-of-scope__details-actions"
      ng-if="vm.isDetailsExpanded"
    >
      <a
        class="button button--text group-list-item-out-of-scope__details-group-page-link"
        href="{{vm.group.links.html}}"
        target="_blank"
        ng-click="vm.trackViewGroupActivity()"
        >Go to group page</a
      >
    </p>
  </div>
</div>
