<div
  ng-class="{'group-list-item__item': true, 'is-selected': vm.isSelected()}"
  ng-click="vm.focusGroup()"
  tabindex="0"
>
  <!-- the group icon !-->
  <div class="group-list-item__icon-container">
    <img
      class="group-list-item__icon group-list-item__icon--organization"
      alt="{{ vm.orgName() }}"
      ng-src="{{ vm.group.logo }}"
      ng-if="vm.group.logo"
    />
  </div>
  <!-- the group name and share link -->
  <div class="group-list-item__details">
    <a
      class="group-list-item__name-link"
      href=""
      title="{{ vm.group.type === 'private' ? 'Show and create annotations in ' + vm.group.name : 'Show public annotations'  }}"
    >
      {{vm.group.name}}
    </a>
  </div>
</div>
