<div class="app-content-wrapper js-thread-list-scroll-root" ng-style="vm.backgroundStyle">
  <top-bar
    auth="vm.auth"
    on-login="vm.login()"
    on-sign-up="vm.signUp()"
    on-logout="vm.logout()"
    is-sidebar="::vm.isSidebar">
  </top-bar>

  <div class="content">
    <help-panel auth="vm.auth"></help-panel>
    <share-annotations-panel></share-annotations-panel>

    <main ng-if="vm.route()">
      <annotation-viewer-content ng-if="vm.route() == 'annotation'"></annotation-viewer-content>
      <stream-content ng-if="vm.route() == 'stream'"></stream-content>
      <sidebar-content
        ng-if="vm.route() == 'sidebar'"
        auth="vm.auth"
        on-login="vm.login()"
        on-sign-up="vm.signUp()"></sidebar-content>
    </main>
  </div>
</div>
