<div ng-if="!vm.readOnly" class="markdown-tools" ng-class="vm.preview && 'disable'">
  <span class="markdown-preview-toggle">
    <a class="markdown-tools-badge h-icon-markdown" href="https://help.github.com/articles/markdown-basics" title="Parsed as Markdown" target="_blank"></a>
    <a href="" class="markdown-tools-toggle" ng-click="vm.togglePreview()"
      ng-show="!vm.preview">Preview</a>
    <a href="" class="markdown-tools-toggle" ng-click="vm.togglePreview()"
      ng-show="vm.preview">Write</a>
  </span>
  <i class="h-icon-format-bold markdown-tools-button" ng-click="vm.insertBold()" title="Embolden text"></i>
  <i class="h-icon-format-italic markdown-tools-button" ng-click="vm.insertItalic()" title="Italicize text"></i>
  <i class="h-icon-format-quote markdown-tools-button" ng-click="vm.insertQuote()" title="Quote text"></i>
  <i class="h-icon-insert-link markdown-tools-button" ng-click="vm.insertLink()" title="Insert link"></i>
  <i class="h-icon-insert-photo markdown-tools-button" ng-click="vm.insertIMG()" title="Insert image"></i>
  <i class="h-icon-functions markdown-tools-button" ng-click="vm.insertMath()" title="Insert mathematical notation (LaTex is supported)"></i>
  <i class="h-icon-format-list-numbered markdown-tools-button" ng-click="vm.insertNumList()" title="Insert numbered list"></i>
  <i class="h-icon-format-list-bulleted markdown-tools-button" ng-click="vm.insertList()" title="Insert list"></i>
</div>
<textarea class="form-input form-textarea js-markdown-input"
          ng-show="vm.showEditor()"
          ng-click="$event.stopPropagation()"
          h-branding="annotationFontFamily"></textarea>
<div class="markdown-body js-markdown-preview"
     ng-class="(vm.preview && 'markdown-preview') || vm.customTextClass"
     ng-dblclick="vm.togglePreview()"
     ng-show="!vm.showEditor()"
     h-branding="annotationFontFamily"></div>
