<div class="moderation-banner"
     ng-if="vm.isHiddenOrFlagged()"
     ng-class="{'is-flagged': vm.flagCount() > 0,
                'is-hidden': vm.isHidden(),
                'is-reply': vm.isReply()}">
  <span ng-if="vm.flagCount() > 0 && !vm.isHidden()">
    Flagged for review x{{ vm.flagCount() }}
  </span>
  <span ng-if="vm.isHidden()">
    Hidden from users. Flagged x{{ vm.flagCount() }}
  </span>
  <span class="u-stretch"></span>
  <button ng-if="!vm.isHidden()"
          ng-click="vm.hideAnnotation()"
          title="Hide this annotation from non-moderators">
    Hide
  </button>
  <button ng-if="vm.isHidden()"
          ng-click="vm.unhideAnnotation()"
          title="Make this annotation visible to everyone">
    Unhide
  </button>
</div>
