<div class="moderation-banner"
     ng-if="vm.isHiddenOrFlagged()"
     ng-class="{'is-flagged': vm.flagCount() > 0,
                'is-hidden': vm.isHidden(),
                'is-reply': vm.isReply()}">
  <span ng-if="vm.flagCount() > 0 && !vm.isHidden()">
    Flagged for review x{{ vm.flagCount() }}
  </span>
  <span ng-if="vm.isHidden()">
    {{'Hidden from users.' | translate}} Flagged x{{ vm.flagCount() }}
  </span>
  <span class="u-stretch"></span>
  <button ng-if="!vm.isHidden()"
          ng-click="vm.hideAnnotation()"
          title="{{'Hide this feedback from non-moderators' | translate}}">
    {{'Hide' | translate}}
  </button>
  <button ng-if="vm.isHidden()"
          ng-click="vm.unhideAnnotation()"
          title="{{'Make this feedback visible to everyone' | translate}}">
    {{'Unhide' | translate}}
  </button>
</div>
