<div class="search-status-bar" ng-if="vm.filterActive">
  <button class="primary-action-btn primary-action-btn--short"
          ng-click="vm.onClearSelection()"
          title="{{'Clear the search filter and show all feedback' | translate}}"
  >
    <i class="primary-action-btn__icon h-icon-close"></i> {{'Clear search' | translate}}
  </button>
  <span ng-pluralize
           count="vm.filterMatchCount"
           when="{'0': 'No results for “{{vm.searchQuery}}”',
                  'one': '1 search result',
                  'other': '{} search results'}"></span>
</div>
<div class="search-status-bar" ng-if="!vm.filterActive && vm.selectionCount > 0">
  <button class="primary-action-btn primary-action-btn--short"
          ng-click="vm.onClearSelection()"
          title="Clear the selection and show all feedback">
    <span ng-if="!vm.selectedTab || vm.selectedTab === vm.TAB_ORPHANS">
      {{'Show all feedback and notes' | translate}}
    </span>
    <span ng-if="vm.selectedTab === vm.TAB_ANNOTATIONS">
      {{'Show all feedback' | translate }}
      <span ng-if="vm.totalAnnotations > 0">
        ({{vm.totalAnnotations}})
      </span>
    </span>
    <span ng-if="vm.selectedTab === vm.TAB_NOTES">
      {{'Show all notes' | translate}}
      <span ng-if="vm.totalNotes > 1">
        ({{vm.totalNotes}})
      </span>
    </span>
  </button>

</div>
