<form class="simple-search-form"
      name="searchForm"
      ng-class="!vm.query && 'simple-search-inactive'">
  <input class="simple-search-input"
         type="text"
         name="query"
         placeholder="{{vm.isLoading() && 'Loading' || 'Search'}}…"
         ng-disabled="vm.isLoading()"
         ng-class="vm.inputClasses()"/>
  <button type="button" class="simple-search-icon top-bar__btn" ng-hide="vm.isLoading()">
    <i class="h-icon-search"></i>
  </button>
  <spinner class="top-bar__btn" ng-show="vm.isLoading()" title="Loading…"></spinner>
</form>
