<focused-mode-header
  ng-if="vm.showFocusedHeader()">
</focused-mode-header>

<selection-tabs
  ng-if="vm.showSelectedTabs()"
  is-loading="vm.isLoading()">
</selection-tabs>

<search-status-bar
  ng-if="!vm.isLoading()">
</search-status-bar>

<!-- Display error message if direct-linked annotation fetch failed. -->
<sidebar-content-error
  class="sidebar-content-error"
  logged-out-error-message="'This annotation is not available.'"
  logged-in-error-message="'You do not have permission to view this annotation.'"
  on-login-request="vm.onLogin()"
  is-logged-in="vm.auth.status === 'logged-in'"
  ng-if="vm.selectedAnnotationUnavailable()"
>
</sidebar-content-error>

<!-- Display error message if direct-linked group fetch failed. -->
<sidebar-content-error
  class="sidebar-content-error"
  logged-out-error-message="'This group is not available.'"
  logged-in-error-message="'This group is not available.'"
  on-login-request="vm.onLogin()"
  is-logged-in="vm.auth.status === 'logged-in'"
  ng-if="vm.selectedGroupUnavailable()"
>
</sidebar-content-error>

<thread-list
  on-change-collapsed="vm.setCollapsed(id, collapsed)"
  on-focus="vm.focus(annotation)"
  on-select="vm.scrollTo(annotation)"
  show-document-info="false"
  ng-if="!vm.selectedGroupUnavailable()"
  thread="vm.rootThread()">
</thread-list>

<logged-out-message ng-if="vm.shouldShowLoggedOutMessage()" on-login="vm.onLogin()">
</logged-out-message>
