<selection-tabs
  ng-if="!vm.search.query() && vm.selectedAnnotationCount() === 0"
  is-waiting-to-anchor-annotations="vm.waitingToAnchorAnnotations"
  is-loading="vm.isLoading"
  selected-tab="vm.selectedTab"
  total-annotations="vm.totalAnnotations"
  total-notes="vm.totalNotes"
  total-orphans="vm.totalOrphans">
</selection-tabs>

<search-status-bar
  ng-show="!vm.isLoading()"
  filter-active="!!vm.search.query()"
  filter-match-count="vm.visibleCount()"
  on-clear-selection="vm.clearSelection()"
  search-query="vm.search ? vm.search.query : ''"
  selection-count="vm.selectedAnnotationCount()"
  total-count="vm.topLevelThreadCount()"
  selected-tab="vm.selectedTab"
  total-annotations="vm.totalAnnotations"
  total-notes="vm.totalNotes">
</search-status-bar>

<div class="annotation-unavailable-message"
    ng-if="vm.selectedAnnotationUnavailable()">
  <div class="annotation-unavailable-message__icon"></div>
  <p class="annotation-unavailable-message__label">
    <span ng-if="vm.auth.status === 'logged-out'">
      This annotation is not available.
      <br>
      You may need to
      <a class="loggedout-message__link" href="" ng-click="vm.login()">log in</a>
      to see it.
    </span>
    <span ng-if="vm.auth.status === 'logged-in'">
      You do not have permission to view this annotation.
    </span>
  </p>
</div>
<thread-list
  on-change-collapsed="vm.setCollapsed(id, collapsed)"
  on-clear-selection="vm.clearSelection()"
  on-focus="vm.focus(annotation)"
  on-force-visible="vm.forceVisible(thread)"
  on-select="vm.scrollTo(annotation)"
  show-document-info="false"
  thread="vm.rootThread">
</thread-list>

<loggedout-message ng-if="vm.shouldShowLoggedOutMessage()" on-login="vm.login()">
</loggedout-message>
