<span dropdown keyboard-nav>
  <button
    type="button"
    class="top-bar__btn"
    dropdown-toggle
    title="Sort by {{vm.sortKey}}">
    <i class="h-icon-sort"></i>
  </button>
  <div class="dropdown-menu__top-arrow"></div>
  <ul class="dropdown-menu pull-right" role="menu">
    <li class="dropdown-menu__row"
        ng-repeat="key in vm.sortKeysAvailable"
        ng-click="vm.onChangeSortKey({sortKey: key})"
        ><span class="dropdown-menu-radio"
               ng-class="{'is-selected' : vm.sortKey === key}"
        ></span><a class="dropdown-menu__link" href="">{{key}}</a></li>
  </ul>
</span>
