{
  "presets": [
    ["@babel/preset-react", {
      "pragma": "createElement"
    }],
    ["@babel/preset-env", {
       "bugfixes": true
    }]
  ],
  "plugins": [
    "angularjs-annotate"
  ],
  "ignore": ["**/vendor/*"],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-react", {
          "development": true,
          "pragma": "createElement"
        }]
      ]
    }
  }
}
