{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "importSource": "preact"
      }
    ],

    // Compile JS for browser targets set by `browserslist` key in package.json.
    [
      "@babel/preset-env",
      {
        "bugfixes": true
      }
    ]
  ],
  "plugins": ["inject-args"],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          {
            "development": true,
            "runtime": "automatic",
            "importSource": "preact"
          }
        ]
      ]
    }
  }
}
