{
  "extends": "hypothesis",
  "globals": {
    "Set": false
  },
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "no-var": "error",
    "indent": ["error", 2, {
      "ArrayExpression": "first",
      "ObjectExpression": "first"
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": [
    "mocha"
  ],
}
