/build/
node_modules/
coverage/
docs/_build/

.eslintcache

# The client uses Yarn rather than npm to manage the lockfile.
package-lock.json

# SSL certificate and key.
.tlscert.pem
.tlskey.pem

.tox

# yalc related files
yalc.lock
.yalc/

# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored.
# This is the "If you're not using Zero-Installs" list.
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
