<!-- Tabbed display of annotations and notes. -->
<div class="selection-tabs">
  <a class="selection-tabs__type"
     href="#"
     ng-class="{'is-selected': vm.selectedTab === vm.TAB_ANNOTATIONS}"
     h-on-touch="vm.selectTab(vm.TAB_ANNOTATIONS)">
    Annotations
    <span class="selection-tabs__count"
      ng-if="vm.totalAnnotations > 0 && !vm.isWaitingToAnchorAnnotations">
      {{ vm.totalAnnotations }}
    </span>
  </a>
  <a class="selection-tabs__type"
     href="#"
     ng-class="{'is-selected': vm.selectedTab === vm.TAB_NOTES}"
     h-on-touch="vm.selectTab(vm.TAB_NOTES)">
    Page Notes
    <span class="selection-tabs__count"
      ng-if="vm.totalNotes > 0 && !vm.isWaitingToAnchorAnnotations">
      {{ vm.totalNotes }}
    </span>
  </a>
  <a class="selection-tabs__type selection-tabs__type--orphan"
    ng-if="vm.orphansTabFlagEnabled() && vm.totalOrphans > 0"
    href="#"
    ng-class="{'is-selected': vm.selectedTab === vm.TAB_ORPHANS}"
    h-on-touch="vm.selectTab(vm.TAB_ORPHANS)">
    Orphans
    <span class="selection-tabs__count"
      ng-if="vm.totalOrphans > 0 && !vm.isWaitingToAnchorAnnotations">
      {{ vm.totalOrphans }}
    </span>
  </a>
</div>
<div ng-if="!vm.isLoading()" class="selection-tabs__empty-message">
  <div ng-if="vm.showNotesUnavailableMessage()"  class="annotation-unavailable-message">
    <p class="annotation-unavailable-message__label">
      There are no page notes in this group.
      <br />
      Create one by clicking the
      <i class="help-icon h-icon-note"></i>
      button.
    </p>
  </div>
  <div ng-if="vm.showAnnotationsUnavailableMessage()"  class="annotation-unavailable-message">
    <p class="annotation-unavailable-message__label">
      There are no annotations in this group.
      <br />
      Create one by selecting some text and clicking the
      <i class="help-icon h-icon-annotate"></i> button.
    </p>
  </div>
</div>
