<top-bar
  auth="auth"
  on-login="login()"
  on-logout="logout()"
  on-share-page="share()"
  on-show-help-panel="helpPanel.visible = true"
  is-sidebar="::isSidebar"
  pending-update-count="countPendingUpdates()"
  on-apply-pending-updates="applyPendingUpdates()"
  search-controller="search"
  sort-key="sortKey()"
  sort-keys-available="sortKeysAvailable()"
  on-change-sort-key="setSortKey(sortKey)">
</top-bar>

<div class="create-account-banner" ng-if="isSidebar && auth.status === 'logged-out'" ng-cloak>
  To annotate this document
  <a href="{{ serviceUrl('signup') }}" target="_blank">
    create a free account
  </a>
  or <a href="" ng-click="login()">log in</a>
</div>

<div class="content" ng-cloak>
  <login-form
    ng-if="accountDialog.visible"
    on-close="accountDialog.visible = false">
  </login-form>
  <sidebar-tutorial ng-if="isSidebar"></sidebar-tutorial>
  <share-dialog
    ng-if="shareDialog.visible"
    on-close="shareDialog.visible = false">
  </share-dialog>
  <help-panel ng-if="helpPanel.visible"
    on-close="helpPanel.visible = false"
    auth="auth">
  </help-panel>
  <main ng-view=""></main>
</div>
