<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tall iframe test</title>
    <style>
      body {
        font-family: sans-serif;
      }
      iframe {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <h1>Tall iframe test</h1>

    <p>
      The iframe below has an <code>enable-annotation</code> attribute so
      that Hypothesis is injected into it by the parent frame.
    </p>
    <p>
      This iframe resizes itself to fit the content, as opposed to being
      scrollable. This mimics the way book content is presented in the
      VitalSource Bookshelf reader. See <a href="https://github.com/hypothesis/client/issues/3590">
      this GitHub issue</a>.
    </p>

    <iframe src="/document/injectable-frame" enable-annotation></iframe>

    {{{hypothesisScript}}}

    <script>
      const frame = document.querySelector('iframe');

      // Resize iframe to fit document content when it has loaded.
      frame.contentWindow.addEventListener('DOMContentLoaded', () => {
        frame.height = frame.contentDocument.documentElement.scrollHeight + 'px';
      });
    </script>
  </body>
</html>
