<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VitalSource book reader</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
    <script type="module">
      import { MosaicBookElement } from '/scripts/vitalsource-mosaic-book-element.js';
      customElements.define('mosaic-book', MosaicBookElement);
    </script>
  </head>
  <body>
    <h1>Mock VitalSource EPUB book</h1>
    <p>
      This page simulates the essential parts of the <a href="https://bookshelf.vitalsource.com">VitalSource
      Bookshelf</a> ebook reader. This example simulates an EPUB-based book, referred to as
      a "reflowable" book in the Bookshelf store.
    </p>

    <p>
      The sample book content was extracted from a <a href="https://www.gutenberg.org/ebooks/514">Project
      Gutenberg EPUB</a>.
    </p>

    <mosaic-book book="little-women"></mosaic-book>

    {{{hypothesisScript}}}
  </body>
</html>
