<!doctype html>
<html>
  <head>
    <title>content</title>
  </head>
  <body>
    <!-- Temporary page that VitalSource viewer loads immediately after a
         navigation to a different chapter.

         In the real version of this page, the #page-content element contains
         encrypted data for the page.

         The VitalSource integration recognizes this page and doesn't try to
         inject the client into it. -->
    <div id="page-content">abcdef</div>
  </body>
</html>
