<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VitalSource book reader (PDF)</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
    <script type="module">
      import { MosaicBookElement } from '/scripts/vitalsource-mosaic-book-element.js';
      customElements.define('mosaic-book', MosaicBookElement);

      // The `window.VST` object must exist in the parent frame, otherwise the
      // `window.innerPageData` variable is not set in the content frame.
      window.VST = {
        PictureBook: {
          contentReady: () => {},
        }
      };
    </script>
  </head>
  <body>
    <h1>Mock VitalSource PDF book</h1>
    <p>
      This page simulates the essential parts of the <a href="https://bookshelf.vitalsource.com">VitalSource
      Bookshelf</a> ebook reader. This example simulates a PDF-based book, referred to as
      a "fixed layout" book in the <a href="https://bookshelf.vitalsource.com/">Bookshelf store</a>.
    </p>

    <p>
      The book content was extracted from a free
      <a href="https://bookshelf.vitalsource.com/reader/books/9781938168239">OpenStax textbook</a>.
      To view the real book in VitalSource, you will first need to add it to your library
      by searching for the book ID (9781938168239) in the Bookshelf store.
    </p>

    <mosaic-book book="test-pdf"></mosaic-book>

    {{{hypothesisScript}}}
  </body>
</html>
