// Button styling for the sidebar extending common button-component styles
@use '../shared/components/buttons/mixins' as buttons;

// Similar to `.LinkButton`, with inline layout (so button can be used
// within text)
.InlineLinkButton {
  @include buttons.LinkButton(
    (
      'inline': true,
    )
  );
  // Custom: The dark variant is used for inline, anchor-like styling and needs
  // to be underlined at all times to match <a> styling near it
  &--dark {
    text-decoration: underline;
  }
}

.PublishControlButton {
  @include buttons.LabeledButton {
    // Border-radius turned off
    &--primary {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
