@use "../variables" as var;

//ELEMENT STYLES////////////////////////////////
body {
  position: relative;
  background-color: var.$body-background;
  color: var.$text-color;
}

p {
  hyphens: auto;

  & + p {
    margin: 1em 0 0;
  }
}

em {
  font-style: italic;
}

html {
  font-size: var.$base-font-size;
  line-height: var.$base-line-height;
}

//MCRANDOM////////////////////////////////

.small {
  font-size: var.$body1-font-size;
}

//CLOSER////////////////////////////////
.close {
  cursor: pointer;
  float: right;
  opacity: 0.6;
  &:active,
  &:hover {
    opacity: 1;
  }
}

//FORM RELATED////////////////////////////////
.form-vertical {
  legend {
    font-size: var.$body1-font-size;
    line-height: var.$body1-line-height;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  select,
  textarea,
  input,
  button {
    display: block;
    // margin-top: .75em;
  }
}
