
//temp remove top-bar

.app-content-wrapper {
  padding-top: 9px;
  background-color: #ededed !important;

//sidebar header
.selection-tabs{

  padding-top: 45px; //remove once topbar is gone

  .selection-tabs__count {
    display: none;
  }
}


//card formatting
.thread-list {

  //base card styles
  .thread-list__card {

    box-shadow: none;
    border-radius: none;

    .h-icon-visibility-off {
      display: none;
    }

    .annotation-quote {
      border-left: 2px solid #d3d3d3;
    }

    .excerpt__toggle-link a {
      color: #4589db;
    }

    .publish-annotation-cancel-btn {
      color: #3e87d7;
    }

    .annotation-header {
      display: inline-flex;
      flex-direction: column;
    }

    //hiding this for now
    .annotation-header__share-info {
      display: none;
    }

    .annotation-footer {
      margin-top: 0;
      float: right;

      .annotation-actions {
        padding-top: 5px;
      }

      .h-icon-cancel-outline:before {
        content: "";
      }
    }

    textarea {
      resize: none;
    }
  }

  //default hover states
  .thread-list__card:hover {

    box-shadow: none;

    // .annotation-actions {
    //   display: inline-block;
    // }

    .annotation-quote {
      border-left: 2px solid #d3d3d3;
    }
  }


//card states

  //default card selected state
  .default__card-selected {
    border-left: 5px solid #e9d633;
  }

  //default private card
  .private__card {
    border: 1px solid #c00;

    .h-icon-visibility-off {
      display: inline;
      margin-right: 5px;
      color: #c00;
    }
  }

  //if private, apply this selected class instead
  .private__card-selected {
    border-left: 5px solid #c00;
  }

  .thread-hightlight {
    background-color: rgba(255, 255, 60, 0.3);;
  }
}

.annotator-hl.annotator-hl-focused {
  background-color: $highlight-color !important;

  .annotator-hl {
    background-color: transparent !important;
  }
  }

}
