
$ddf-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
$ddf-blue: #0076e0;
$ddf-sidebar-text: #585858;


.app-content-wrapper {

  background-color: #ededed !important;
  padding: 9px 11px 11px;

  * {
    font-family: 'overpass';
  }

///////////////////////////
//empty state messaging
///////////////////////////

.annotation-unavailable-message {
  padding: 15px;
  border: none;

  .annotation-unavailable-message__label {
    font-size: 18px;
    font-weight: 500;
  }

  .annotation-unavailable-message__tutorial {
    position: relative;
    text-align: center;

    .annotation-unavailable-message__tutorial-highlight {
      padding: 1px 4px;
      background-color: #AED581;
    }

    .sidebar-tutorial-svg_cursor {
      display: inline;
      position: absolute;
      top: 32px;
      right: 46px;
      width: 30px;
    }

    p {
      display: inline;
      font-size: 14px;
      hyphens: none;
    }
  }
}


  .selection-tabs {
    .selection-tabs__count {
      display: none;
    }
  }

// /////////////////////////
// sidebar header
// /////////////////////////
.sidebar__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: .5em 0 1em 0;
  border-bottom: 1px solid #dadada;

  .sidebar__header-title {
    display: inline-block;
    margin: 0 0 0 5px;
    font-size: 23px;
    font-weight: 400;
  }


//kebab menu
  .ddf-kebab {
    margin-left: auto;
    padding: 10px 8px;
    cursor: pointer;

    .ddf-kebab-dropdown_toggle {
      display: inherit;
      padding: 0;
      background: none;
      border: 0;

      figure {
        margin: 2px 0;
        height: 3px;
        width: 3px;
        border-radius: 100%;
        background: $ddf-sidebar-text;
      }
    }

    .ddf-kebab-dropdown {
      z-index: 1000;
      position: absolute;
      right: 27px;
      top: 5em;
      padding-left: 0;
      transition: all 0.3s ease-out;
      transform: scale(0);
      transform-origin: 80% 0;
      box-shadow: $ddf-shadow;

      .disabled {
        opacity: 0.2;
      }

      li {
        display: block;
        width: 100%;
        list-style: none;
        background: #fff;

        button {
          padding: 1em 18px;
          width: 100%;
          font-size: 14px;
          font-family: 'overpass' !important;
          font-weight: 500;
          text-align: left;
          cursor: pointer;
          background: none;
          border: none;


          &::before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            font-weight: normal;
            font-family: 'h';
            // color: #06c;
          }
        }

        a {
          display: inline-block;
          width: 100%;
          padding: 1em 18px;
          font-family: 'overpass';
          font-size: 14px;
          color: #000;
          text-align: left;
          box-sizing: border-box;
          text-decoration: none;

          &:after {
            display: inline-block;
            margin-left: 10px;
            content: "";
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $ddf-blue;
          }
        }

        &:first-child {
          border-bottom: 1px solid #ededed;
        }

        &:hover {
          a, button {
            color: #06c;
          }

          button#highlight-visibility[disabled="disabled"] {
            color: rgb(127,127,127);
          }
        }
      }
    }

    .ddf-kebab-dropdown.active {
      transform: scale(1);

      &:after {
        z-index: -1;
        position: absolute;
        top: -26px;
        right: 12px;
        content: "";
        border: solid 15px transparent;
        border-bottom-color: #FFF;
      }
    }
  }
//end kebab menu

 #sidebar-toggle-close {
    margin-right: 5px;
    color: $ddf-sidebar-text;
    background: none;
    border: none;

    &:after {
      display: inline-block;
      font-size: 23px;
      font-weight: 400;
      content: "\00d7";
    }
  }
}

// /////////////////////////
// card formatting
// /////////////////////////
.thread-list {

  li {
    margin-bottom: 1.15em;
  }

  .thread-list__spacer {
    margin-bottom: 0;
  }

  //base card styles
  .thread-list__card {
    box-shadow: none;
    border-radius: 0;
    font-family: inherit;

    .h-icon-visibility-off {
      display: inline;
      margin-right: 5px;
      color: #c00;
    }

    .annotation-quote {
      border-left: 2px solid #d3d3d3;
    }

    .annotation-body {
      margin-top: 14px;

      .excerpt__container {
        border-bottom: 2px solid transparent;

        p {
          line-height: 17px;
        }

        .markdown-body p {
          margin: 17px 0;
        }

        .markdown-body p:only-child {
          margin: .618em 0;
        }
      }
    }

    .excerpt__toggle-link {
      font-size: 12px;
      color: #4589db;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, white 12px);

      & > a {
        color: #4589db;
      }
    }


    .publish-annotation-cancel-btn {
      margin-left: auto;
      margin-right: 5px;
      color: #3e87d7;
    }

    .delete-confirmation {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 10px;
      width: 100%;
      height: auto;
      font-size: 13px;

      p {
        display: inline-block;
        font-weight: 600;
        line-height: auto;
      }

      div {
        display: inline-block;
        margin-left: auto;
      }

      .btn-cancel {
        margin-right: 5px;
        color: #3e87d7;
      }
    }

    .annotation-header {
      display: inline-flex;
      flex-direction: column;

      span {
        max-width: 150px;
      }

    }

    .annotation-footer {
      float: right;
      margin-top: 0;

      .annotation-actions {
        display: none;
        padding: 5px;

        .annotation-action-btn {
          color: #0076e0;
        }
      }

      .publish-annotation-btn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .publish-annotation-cancel-btn {
          margin-left: auto;
          margin-right: 5px;
        }

        // private feedback disabled
        // .privateFeedbackInput {
        //   margin-bottom: 15px;
        //
        //   input {
        //     margin-right: 8px;
        //   }
        //
        //   .h-icon-visibility-off {
        //     color: #7A7A7A;
        //   }
        // }
      }

      .h-icon-cancel-outline:before {
        content: "";
      }
    }

    &:hover {
      .annotation-actions {
        display: flex;
      }

      .annotation-quote {
        border-left: 2px solid #d3d3d3;
      }
    }
  }

  //card states
  .default__card-selected {
    border-left: 5px solid #e9d633;
  }

  .users__card-selected {
    border: none;
    border-left: 5px solid #AED581 !important;
  }

}

// /////////////////////////
// button styles
// /////////////////////////
.btn-app {
  padding: 6px 14px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-shadow: none;
  text-transform: none;
  box-shadow: none;
  border-radius: 0;
  border-style: none;

  &.btn-update {
    color: #fff;
    background: #0088ce;
    border-color: #0088ce;
  }

  &.btn-delete {
    background: #a30000;
    border-color: #a30000;
    color: #fff;
  }
}

}
