@use "../variables" as var;

// basic standard styling for elements
a {
  color: var.$link-color;
  text-decoration: none;
}

a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var.$link-color-hover;
}

p {
  hyphens: auto;

  & + p {
    margin: 1em 0 0;
  }
}

ol {
  list-style-type: decimal;
  padding-left: 3em;
}

svg {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
