// Common form styles.

.form-field {
  @include pie-clearfix;
  clear: both;
  margin-bottom: 0.75em;
}

.form-input {
  width: 100%;
  display: block;
}

.form-input {
  @include form-input;

  &:focus,
  &.js-focus {
    @include form-input-focus;
  }
}

.form-textarea {
  min-height: 8em;
  max-width: 100%;
  resize: vertical;
}

.form-actions {
  @include pie-clearfix;
  margin-top: 0.75em;
}

.btn {
  @include btn;

  &:hover,
  &:focus,
  &:active {
    @include btn-hover;
  }

  &:focus {
    @include focus-outline;
  }

  &:active {
    @include btn-active;
  }

  &[disabled] {
    @include btn-disabled;
  }
}

.btn-clean {
  border: none;

  &,
  &:focus,
  &:hover,
  &:active,
  &[disabled] {
    box-shadow: none;
    background: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $link-color;
  }

  &:active {
    color: $link-color-hover;
  }

  &[disabled] {
    color: $text-color;
  }
}

.btn-icon {
  display: inline-block;
  font-size: 16px;
}
