@use "mixins/forms";
@use "variables" as var;

.form-input {
  @include forms.form-input;
  width: 100%;
  display: block;

  &:focus,
  &.js-focus {
    @include forms.form-input-focus;
  }
}

.form-textarea {
  min-height: 8em;
  max-width: 100%;
  resize: vertical;
}
