// Extensions and/or overrides to shared component styles from the
// `@hypothesis/frontend-shared` package

@use '../variables' as var;

// Similar to `.LinkButton`, with inline layout (so button can be used
// within text)
.InlineLinkButton {
  display: inline;
}

.InlineLinkButton--underlined {
  text-decoration: underline;
}

// Disable border-radius on right side so it can align with a button next to it
.PublishControlButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// This button style has asymmetrical padding. Hold it here to see if
// this kind of padding is useful in other patterns.
.PaginationPageButton {
  padding: var.$layout-space--small var.$layout-space;
}

// An IconButton, but override minimum height/width on touch screen devices
.NonResponsiveIconButton {
  @media (pointer: coarse) {
    min-width: auto;
    min-height: auto;
  }
}

// Used in the AdderToolbar, a transparent button that has an icon and a small
// label below the icon
.LabeledIconButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &:hover:not([disabled]) {
    background-color: transparent;
  }

  cursor: pointer;
  font-weight: normal;
  font-size: var.$annotator-adder-font-size;
  line-height: var.$annotator-adder-line-height;
  padding: var.$layout-space--small;
  transition: color 80ms;
  background: transparent;

  &__label {
    margin-top: var.$layout-space--xxsmall;
    transition: color 80ms;
  }
}

// Override any background color on a LabeledButton
.TransparentButton {
  background-color: transparent;

  &:hover:not([disabled]) {
    background-color: transparent;
  }
}

// Links

// Styling for a Link that contains only an Icon and no text. Override coloring
// and add some padding
.IconOnlyLink {
  padding: var.$layout-space;
  color: var.$grey-7;
  &:hover:not([disabled]) {
    color: var.$grey-7;
  }
}
