.new-note__create {
  background-color: $color-dove-gray;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: flex;
  font-weight: 500;
  margin-left: auto;
  margin-right: 14px;
  margin-bottom: 10px;
  text-align: center;
}
