/**
 * Patterns used in this application that may be candidates for extraction
 * to the shared frontend package (@hypothesis/frontend-shared)
 */
@use './variables' as var;

// This pattern overrides default link color (brand), but hover is still
// dark-brand
.p-link--muted {
  color: var.$color-text--light;
}

// This pattern overrides the hover to stay muted color, but adds an underline
// for distinction
.p-link--hover-muted {
  &:hover {
    color: var.$color-text--light;
    text-decoration: underline;
  }
}

// Represent quoted text, as in an excerpt, with a hover or focused state.
.p-quoted-text {
  border-left: 3px solid var.$color-border;
  color: var.$color-text--light;
  font-style: italic;
  padding: 0 var.$layout-space;

  // Prevent long URLs etc. in quote causing overflow
  overflow-wrap: break-word;

  &.is-focused,
  &:hover {
    border-left: var.$color-quote 3px solid;
  }
}

// A pattern for displaying redacted (moderated) text content
.p-redacted-content {
  text-decoration: line-through;
  // Make any images within this content greyscale, and low-contrast
  filter: grayscale(100%) contrast(65%);
}
