.selection-tabs {
  display: flex;
  justify-content: center;

  margin-top: 1px;
  margin-bottom: 6px;
}

.selection-tabs__type {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 106px;

  background-color: #fff;

  border: 1px solid #d3d3d3;
  border-right-width: 0;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  padding-left: 12px;
  padding-right: calc(12px - 7px);

  touch-action: manipulation;
  cursor: pointer;
  user-select: none;

  -webkit-appearance: button;
}

.selection-tabs__type:focus {
  outline:0 !important;
}

.selection-tabs__type:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.selection-tabs__type:last-child {
  border-right-color: #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
}

.selection-tabs__type:hover,
.selection-tabs__type.is-selected {
  background-color: #e6e6e6;
}

.selection-tabs__label {
  flex-basis: 200px;
}

.selection-tabs__count {
  flex-basis: 21px;
  padding-left: 7px;
  padding-right: 7px;
}

.selection-tabs__empty-message {
  position: relative;
  top: 10px;
}
