// form for sharing links

.share-link-container {
  font-size: $body1-font-size;
  line-height: $body1-line-height;
  margin-top: 1px;
  white-space: normal;
}

.share-link {
  color: $gray-light;
}

.share-link:hover {
  width: 100%;
  color: $gray-dark;
}

.share-link-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.share-link-icon {
  color: $color-dove-gray;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    color: $brand-color;
  }
}
