@use "./mixins/a11y";

// Utility classes for layout
.u-stretch {
  flex-grow: 1;
}

.u-layout-row {
  display: flex;
  flex-direction: row;
}

.u-strong {
  font-weight: bold;
}

.u-screen-reader-only {
  @include a11y.screen-reader-only;
}
