@use "sass:color";

// Greys

$white: #fff !default;

// Interim color variable for migration purposes.
// Used as very-subtle background color for form fields. $grey-1 is too dark.
$grey-0: #fafafa;

$grey-1: #f2f2f2;
$grey-2: #ececec;

$grey-3: #dbdbdb;

$grey-4: #a6a6a6;

// Interim color variable for migration purposes, as the step between `$grey-4`
// and `$grey-5` is large. Represents `base-semi` in proposed future palette,
// minus blue tint.
$grey-semi: #9c9c9c;

// This is the lightest grey admissible on a white, $grey-0 or $grey-1
// background to meet WCAG-AA text contrast requirements.
$grey-5: #737373;

// Interim color variable for migration purposes, as the step between `$grey-5`
// and `$grey-6` is large. Represents `base-mid` in proposed future palette,
// minus blue tint.
// This is the lightest grey admissible on $grey-2, $grey-3
$grey-mid: #595959;

$grey-6: #3f3f3f;

$grey-7: #202020;

$black: #000 !default;

// Colors

$color-success: #00a36d;
$color-warning: #fbc168;
$color-error: #d93c3f;
$brand: #bd1c2b;
$highlight: #58cef4;

$color-focus-outline: #51a7e8;
$color-focus-shadow: color.scale($color-focus-outline, $alpha: -50%);

$button-text-color: $grey-mid !default;
$button-background-start: $white !default;
$button-background-end: #f0f0f0 !default;
$button-background-gradient: to bottom, $button-background-start,
  $button-background-end !default;

$error-color: #f0480c !default;
$success-color: #1cbd41 !default;

// Tint and shade functions from
// https://css-tricks.com/snippets/sass/tint-shade-functions
@function tint($color, $percent) {
  @return color.mix(white, $color, $percent);
}

@function shade($color, $percent) {
  @return color.mix(black, $color, $percent);
}

@function color-weight($c, $n: 500) {
  @if $n == 50 {
    @return tint($c, 85%);
  }
  @if $n == 100 {
    @return tint($c, 70%);
  }
  @if $n == 200 {
    @return tint($c, 50%);
  }
  @if $n == 300 {
    @return tint($c, 30%);
  }
  @if $n == 400 {
    @return tint($c, 15%);
  }
  @if $n == 500 {
    @return $c;
  }
  @if $n == 600 {
    @return shade($c, 15%);
  }
  @if $n == 700 {
    @return shade($c, 30%);
  }
  @if $n == 800 {
    @return shade($c, 50%);
  }
  @if $n == 900 {
    @return shade($c, 85%);
  }
}

// Scaffolding
// -------------------------
$body-background: $white !default;
$text-color: $grey-mid !default;

// Links
// -------------------------
$link-color: $brand !default;
$link-color-hover: color-weight($brand, 700) !default;

// Typography
// -------------------------
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$base-font-size: 16px !default;
$base-line-height: 20px !default;

$body1-font-size: 12px;
$body1-line-height: 1.4em;

$body2-font-size: 14px;

$title-font-weight: bold;

$normal-font-size: 13px;
$normal-line-height: 17px;

$small-font-size: 11px;
$small-line-height: 12px;

// Minimum font size for <input> fields on iOS. If the font size is smaller than
// this, iOS will zoom into the field when focused.
$touch-input-font-size: 16px;

// Layout margins
// -------------------------
$layout-h-margin: 15px;

// Minimum recommended size for tap targets on mobile.
// This value originated from Apple's Human Interface Guidelines.
$touch-target-size: 44px;

// Z-Index Scale
// -------------------------
$zindex-tooltip: 20;

// Other Variables
// -------------------------
$bucket-bar-width: 22px;
$highlight-color: rgba(255, 255, 60, 0.3);
$highlight-color-second: rgba(206, 206, 60, 0.4);
$highlight-color-third: rgba(192, 192, 49, 0.4);
$highlight-color-focus: rgba(156, 230, 255, 0.5);
$top-bar-height: 40px;
$group-list-width: 280px;
$popup-menu-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

// Mixins
// ------
@mixin font-small {
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 400;
}

@mixin font-normal {
  font-size: $normal-font-size;
  line-height: $normal-line-height;
  font-weight: 400;
}
