@use "sass:color";
// Import the shared variables globally
@import '@hypothesis/frontend-shared/styles/variables';

// Text color when used on a dark background
$color-text--inverted: $grey-1;

// Other colors
$color-success: #00a36d;
$color-notice: #fbc168;
$color-error: #d93c3f;

$color-brand: #bd1c2b;
$color-quote: #58cef4;

$color-shadow--sidebar: color.scale($color-shadow, $alpha: -50%);

$color-focus-shadow: color.scale($color-focus-outline, $alpha: -50%);

$color-highlight: rgba(255, 255, 60, 0.4);
$color-highlight-second: rgba(206, 206, 60, 0.4);
$color-highlight-focused: rgba(156, 230, 255, 0.5);

// Scaffolding
// -------------------------
$color-background: $white;

// Links
// -------------------------
$color-link: $color-brand !default;
$color-link-hover: #84141e !default;

// Typography
// -------------------------
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$font-size--subheading: 16px;
$font-size--heading: 18px;

// Layout spacing
// -------------------------
$layout-space: 1em;
$layout-space--xxsmall: $layout-space * (1/4);
$layout-space--xsmall: $layout-space * (1/2);
$layout-space--small: $layout-space * (3/4);
$layout-space--medium: $layout-space;
$layout-space--large: $layout-space * 2;
$layout-space--xlarge: $layout-space * 4;

// Minimum recommended size for tap targets on mobile.
// This value originated from Apple's Human Interface Guidelines.
$touch-target-size: 44px;

// Other Variables
// -------------------------
$top-bar-height: 40px;

// Selectors for applying clean-theme styling
$annotator--theme-clean: '.annotator-frame--theme-clean';
$sidebar--theme-clean: '.theme-clean';

// Annotator-specific values
// -----------------------------------
$annotator-bucket-bar-width: 22px;
$annotator-toolbar-width: 33px;

$annotator-base-font-size: 14px;
$annotator-base-line-height: 20px;

$annotator-adder-font-size: 12px;
$annotator-adder-line-height: 1em;

$annotator-bucket-bar-font-size: 10px;
$annotator-bucket-bar-line-height: 14px;

$annotator-border-radius: 4px;

$annotator-shadow--sidebar: 0px 1px 4px color.scale($color-shadow, $alpha: -50%);
$annotator-timing--sidebar-collapse-transition: 150ms;
