@use '../reset';
@use '../sidebar/elements';
@use '../mixins/layout';
@use '../variables' as var;

@use '../sidebar/components/Buttons';

$title-font: 20pt;
$background-color: #9b9595;

body {
  font-size: 100%;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
}

h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 1em 0;
}

h3 {
  font-size: 1.125em;
  font-weight: bold;
  margin: 1em 0;
}
// Utilities
.u-center {
  align-self: center;
}

// Component styles
.PlaygroundApp {
  display: grid;
  grid-template-areas:
    'navigation'
    'content';

  &__content {
    padding: var.$layout-space;
  }

  &__sidebar {
    grid-area: 'navigation';
    max-height: 20em;
    overflow: scroll;
    background-color: var.$grey-2;
  }

  &__sidebar-home {
    text-align: center;
    padding: var.$layout-space;
  }

  &__content {
    grid-area: 'content';
  }
}

.PlaygroundApp__nav-link {
  width: 100%;
  padding: var.$layout-space;
  font-size: var.$font-size--subheading;
  border-left: 5px solid transparent;
  &:hover {
    background-color: var.$grey-3;
    border-left: 5px solid var.$color-brand;
  }
}

// Temporarily enforce the body font size of the client to demonstrate how
// components would scale in-situ
.ComponentSection__wrapper {
  font-size: 13px;
}

.ComponentTable {
  display: grid;
  border-collapse: collapse;

  grid-template-columns:
    minmax(auto, auto)
    minmax(20em, 1.67fr);

  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 0.5em;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  tr:nth-child(even) td {
    background: var.$grey-0;
  }
}

// Element styles
body {
  font-family: sans-serif;
}

@media screen and (min-width: 60em) {
  .PlaygroundApp {
    height: 100vh;
    grid-template-columns: 20em auto;
    column-gap: 1em;
    grid-template-areas: 'navigation content';

    &__sidebar {
      max-height: none;
    }
  }
}
