[req]
prompt = no
req_extensions = req_ext
distinguished_name = dn
 
[ dn ]
C=US
ST=North Carolina
L=Raleigh
O=Red Hat 
OU=Customer Portal
emailAddress=cp-drupal@redhat.com
CN = conjecture
 
[ req_ext ]
subjectAltName = @alt_names
 
[ alt_names ]
DNS.1 = conjecture
DNS.2 = localhost