@use '../mixins/focus' as focus;
@use '../variables' as var;

$adder-transition-duration: 80ms;

// Main class for the root element of the "adder" toolbar that appears when the
// user makes a text selection.
.annotator-adder {
  // Reset all inherited properties to their initial values. This prevents CSS
  // property values from the host page being inherited by elements of the
  // Adder, even when using Shadow DOM.
  all: initial;

  // Adder entry animation settings
  animation-duration: $adder-transition-duration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  box-sizing: border-box;
  direction: ltr;
  position: absolute;
  background: lightBlue;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);

  // Give the adder a very low opacity initially.  It will then fade-in when
  // shown.
  opacity: 0.05;
}

@keyframes adder-fade-in {
  0% {
    opacity: 0.05;
  }
  20% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes adder-pop-up {
  from {
    transform: scale(0.8) translateY(10px);
  }
  to {
    transform: scale(1) translateY(0px);
  }
}

@keyframes adder-pop-down {
  from {
    transform: scale(0.8) translateY(-10px);
  }
  to {
    transform: scale(1) translateY(0px);
  }
}

@mixin adder-arrow($rotation) {
  transform: rotate($rotation);
  background: lightBlue;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  content: '';
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6px;
}

.annotator-adder--arrow-down.is-active {
  animation-name: adder-fade-in, adder-pop-up;
}

.annotator-adder--arrow-down:before {
  @include adder-arrow(45deg);
  bottom: -5px;
}

.annotator-adder--arrow-up.is-active {
  animation-name: adder-fade-in, adder-pop-down;
}

.annotator-adder--arrow-up:before {
  @include adder-arrow(225deg);
  top: -5px;
}

.annotator-adder-actions {
  display: flex;
  flex-direction: row;
}

.annotator-adder-actions__button {
  @include focus.outline-on-keyboard-focus;

  box-shadow: none;
  background: lightBlue;
  color: var.$color-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: var.$annotator-adder-font-size;
  font-family: sans-serif;
  line-height: var.$annotator-adder-line-height;

  padding: 10px;
  padding-bottom: 7px;
  transition: color $adder-transition-duration;
}

.annotator-adder-actions__button {
  color: var.$grey-mid;
}

.annotator-adder-actions__separator {
  margin: 5px 5px;
  border-right: 1px solid var.$grey-4;
}

// The toolbar has full contrast when not hovered. When the toolbar is hovered,
// the buttons are dimmed except for the one which is currently hovered.
.annotator-adder-actions:hover {
  .annotator-adder-actions__button:not(:hover) {
    color: var.$grey-semi;

    .annotator-adder-actions__badge {
      background-color: var.$grey-semi;
    }
  }
}

.annotator-adder-actions__label {
  margin-bottom: 2px;
  margin-top: 4px;

  transition: color $adder-transition-duration;
}

.annotator-adder-actions__badge {
  background-color: var.$grey-mid;
  border-radius: 3px;
  color: white;

  // The badge should be vertically aligned with icons in other toolbar buttons
  // and the label underneath should also align with labels in other buttons.
  font-weight: bold;
  padding: 2px 4px;
}
