// SASS entry point for annotator styling

@use "sass:meta";
@use "sass:color" as color;

@use '../variables' as var;
@use '../mixins/reset';

// Shared components.
@use '../components/svg-icon';

// Annotator-specific components.
@use './components/adder';
@use './components/toolbar';
@use './bucket-bar';
@use './highlights';

// Sidebar
.annotator-frame {
  // CSS reset which attempts to isolate this element and its children from
  // host page styles.
  @include meta.load-css('../reset');
  @include reset.nested-reset;
  @include reset.reset-box-model;

  * {
    background: none;
    font-size: 100%;
    text-indent: 0;
    height: initial;
    width: initial;
  }

  // frame styles
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  z-index: 2147483647;
  direction: ltr;
  font-size: var.$annotator-adder-font-size;
  line-height: var.$annotator-base-line-height;

  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: 0;

    .h-sidebar-iframe {
      // Add a transition when collapsing only. This serves to delay
      // the effect until the sidebar finishes closing. Visibility is
      // a boolean value and can not actually animate.
      transition: visibility var.$annotator-timing--sidebar-collapse-transition;
      visibility: hidden;
    }
  }

  .h-sidebar-iframe {
    border: none;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
  }
}

/** Visible with clean theme */
.annotator-frame--drop-shadow-enabled {
  box-shadow: var.$annotator-shadow--sidebar;
}

.annotator-placeholder {
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: -1;
}

// this disables the width transition for the sidebar when
// it is manually resized by dragging
.annotator-no-transition {
  transition: none !important;
}

.annotator-pdf-warning-banner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px 5px;

  // TODO - Replace highlight color with preferred warning color.
  background-color: var.$color-highlight;
  border-bottom: 3px solid color.adjust(var.$color-highlight, $lightness: -40%);
  font-size: 12pt;
  font-weight: bold;

  // The Z-index is necessary to raise the banner above the toolbar at the
  // top of the PDF.js viewer.
  z-index: 10000;
}

/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    transition: margin-left var.$annotator-timing--sidebar-collapse-transition
      cubic-bezier(0.55, 0, 0.2, 0.8);
    width: 428px;
    margin-left: -428px;
  }
}
