@use "sass:meta";
@use '../variables' as var;
@use '../mixins/focus';
@use '../mixins/reset';
@use '../mixins/utils';

// Shared components.
@use '../components/svg-icon';

// Annotator-specific components.
@use './adder';
@use './bucket-bar';
@use './highlights';

$sidebar-collapse-transition-time: 150ms;

// Sidebar
.annotator-frame {
  // CSS reset which attempts to isolate this element and its children from
  // host page styles.
  @include meta.load-css('../reset');
  @include reset.nested-reset;
  @include reset.reset-box-model;

  * {
    background: lightBlue;
    font-size: 100%;
    text-indent: 0;
    height: initial;
    width: initial;
  }

  // frame styles
  user-select: none;
  direction: ltr;
  background: lightBlue;
  font-size: var.$annotator-base-font-size;
  line-height: var.$annotator-base-line-height;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2147483647;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: 0;

    .h-sidebar-iframe {
      // Add a transition when collapsing only. This serves to delay
      // the effect until the sidebar finishes closing. Visibility is
      // a boolean value and can not actually animate.
      transition: visibility $sidebar-collapse-transition-time;
      visibility: hidden;
    }
  }

  .h-sidebar-iframe {
    border: none;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
  }

  // the vertical toolbar at the left-edge of the sidebar
  // which provides controls for toggling the sidebar,
  // toggling highlights etc.

  // note: These components CSS classes are nested inside
  // .annotator-frame to avoid being overridden by the
  // CSS reset styles applied to .annotator-frame, which would otherwise
  // have higher specificity
  .annotator-toolbar {
    position: absolute;
    left: -(var.$bucket-bar-width + 18px - 7px);
    width: 37px;
    z-index: 2;
  }

  .annotator-frame-button {
    @include focus.outline-on-keyboard-focus;

    transition: background-color 0.25s;
    @include utils.shadow;
    background: lightBlue;
    border: solid 1px var.$grey-3;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 1px 6px;
    margin-bottom: 5px;

    &:active {
      color: black;
    }

    &:focus,
    &:hover {
      color: black;
    }
  }

  .annotator-frame-button--sidebar_toggle {
    box-shadow: none;
    border-radius: 0px;
    border-style: none none solid solid;
    padding-right: 6px;
    width: 36px;
    margin-bottom: 10px;
    height: var.$top-bar-height;
    color: black;
  }

  .annotator-frame-button--sidebar_close {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    border-style: solid none solid solid;
    width: 27px;
    margin-top: 140px;
    margin-left: 6px;
    height: 27px;
  }
}

.annotator-frame--drop-shadow-enabled {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.annotator-placeholder {
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: -1;
}

// this disables the width transition for the sidebar when
// it is manually resized by dragging
.annotator-no-transition {
  transition: none !important;
}

/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    transition: margin-left $sidebar-collapse-transition-time
      cubic-bezier(0.55, 0, 0.2, 0.8);
    width: 428px;
    margin-left: -428px;
  }
}
