@use "../mixins/reset";
@use "../mixins/utils";
@use "../variables" as var;

// Bucket-bar styles are nested inside `.annotator-frame` to ensure they take
// precedence over the CSS reset applied to `.annotator-frame`.
.annotator-frame {
  .annotator-bucket-bar {
    background: var.$grey-2; // When sidebar is unfolded, remove the background transparency
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: var.$annotator-bucket-bar-width;
    left: -(var.$annotator-bucket-bar-width);
  }

  // When the sidebar is collapsed, make the background semi-transparent so the
  // text is visible throughout (useful for pages with tight margins)
  &.annotator-collapsed .annotator-bucket-bar {
    background: rgba(0, 0, 0, 0.08);
  }

  .annotator-bucket-indicator {
    box-sizing: border-box;
    background: var.$white;
    border: solid 1px var.$grey-3;
    border-radius: 2px 4px 4px 2px;
    right: 0;
    pointer-events: all;
    position: absolute;
    margin-top: -8px;
    line-height: 1;
    height: 16px;
    width: 26px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: center;
    cursor: pointer;

    .label {
      @include reset.reset-box-model;
      @include reset.reset-font;
      background: none;
      color: var.$color-text--light;
      font-weight: bold;
      font-family: var.$sans-font-family;
      font-size: var.$annotator-bucket-bar-font-size;
      line-height: var.$annotator-bucket-bar-line-height;
      margin: 0 auto;
    }

    &:before,
    &:after {
      content: '';
      right: 100%;
      top: 50%;
      position: absolute;
      // NB: use of 'inset' here fixes jagged diagonals in FF
      // https://github.com/zurb/foundation/issues/2230
      border: inset transparent;
      height: 0;
      width: 0;
    }

    &:before {
      border-width: 8px;
      border-right: 5px solid var.$grey-3;
      margin-top: -8px;
    }

    &:after {
      border-width: 7px;
      border-right: 4px solid var.$white;
      margin-top: -7px;
    }

    &.lower,
    &.upper {
      @include utils.shadow;
      z-index: 1;

      &:before,
      &:after {
        left: 50%;
        bottom: 100%;
        right: auto;
        border-right: solid transparent;
        margin-top: 0;
      }
    }

    &.upper {
      border-radius: 2px 2px 4px 4px;

      &:before,
      &:after {
        top: auto;
        bottom: 100%;
      }

      &:before {
        border-width: 13px;
        border-bottom: 6px solid var.$grey-3;
        margin-left: -13px;
      }

      &:after {
        border-width: 12px;
        border-bottom: 5px solid var.$white;
        margin-left: -12px;
      }
    }

    &.lower {
      border-radius: 4px 4px 2px 2px;

      &:before,
      &:after {
        bottom: auto;
        top: 100%;
      }

      &:before {
        border-width: 13px;
        border-top: 6px solid var.$grey-3;
        margin-left: -13px;
      }

      &:after {
        border-width: 12px;
        border-top: 5px solid var.$white;
        margin-left: -12px;
      }
    }
  }
}
