/////////////////////////////////////////////////////
// ALERT! : ARMAGAN'S CSS BEGIN!!!
////////////////////////////////////////////////////
// Public comments
.annotator-hl.annotator-hl-selected-public {
  background-color: #FFD54F !important;

  .annotator-hl {
    background-color: transparent !important;
  }
}

//  Your comments
.annotator-hl.annotator-hl-selected-yours {
  background-color: #AED581 !important;

  .annotator-hl {
    background-color: transparent !important;
  }
}

// Private comments

.annotator-hl.annotator-hl-selected-private {
  background-color: #FF8A65 !important;

  .annotator-hl {
    background-color: transparent !important;
  }
}

// Hover public comments

.annotator-hl.annotator-hl-hover-public {
  background-color: #FFECB3;

  .annotator-hl {
    background-color: transparent !important;
  }
}

//  Hover your comments
.annotator-hl.annotator-hl-hover-selected-yours {
  background-color: #DCEDC8 !important;

  .annotator-hl {
    background-color: transparent !important;
  }
}

//  Hover private comments
.annotator-hl.annotator-hl-hover-private {
  background-color: #FFCCBC !important;

  .annotator-hl {
    background-color: transparent !important;
  }
}
/////////////////////////////////////////////////////
// ALERT! : ARMAGAN'S CSS FINISH!!!
////////////////////////////////////////////////////

.annotator-frame {

.annotator-bucket-bar {

  // Disabling the BucketBar
  display:none;
  background: none !important;
  left: -44px;

}
}
  // .annotator-bucket-indicator {
  //   background-color: #ededed;
  //   border: 1px solid #ededed;
  //   border-radius: 0;
  //   height: 20px;
  //   width: 36px;
  //
  //   &:before, &:after {
  //     display: none;
  //   }
  //
  //   &.upper,
  //   &.lower {
  //     border-radius: 0;
  //   }
  //
  //   .label {
  //     color: #000;
  //     line-height: 17px;
  //
  //     &:before {
  //
  //     }
  //   }
  //
  //
  //   //when a feedback-indicator has been selected, all others will recieve this class
  //   &.indicator-disabled {
  //     background-color: #fff;
  //     opacity: .5;
  //   }
  //
  // }





@media screen and (min-width: 37.5em) {
  .annotator-frame {
    width: 300px;
    margin-left: -300px;
  }
}
