@use 'tailwindcss/components';

/**
 * Base highlight styling. Highlights are styled:
 *
 * - In HTML documents: opaque light yellow, with nested highlights styled a
 *   darker opaque yellow. There are two levels of visual distinction.
 * - In PDF documents: All highlights are the same color of yellow, but nested
 *   highlights appear more intense at each level because they use
 *   mix-blend-mode: multiply.
 */
:root {
  --hypothesis-color-default: #ffffb1;
  --hypothesis-color-default-nested: #ebeb82;

  --hypothesis-color-blue: #e0f2fe;

  --hypothesis-highlight-color-focused: var(--hypothesis-color-blue);
}

.hypothesis-highlight {
  --highlight-color: var(--hypothesis-color-default);
  --highlight-decoration: none;
}

.hypothesis-highlight > .hypothesis-highlight {
  --highlight-color: var(--hypothesis-color-default-nested);
}

// Variable/cluster styling not supported for PDF highlights (which are SVGs) yet
.hypothesis-svg-highlight {
  --highlight-color: rgba(255, 255, 60, 0.4);
  --highlight-color-focused: rgba(156, 230, 255, 0.5);
}

/**
 * Clustered highlight styling. This is enabled by the presence of the
 * .hypothesis-highlights-clustered class on the guest's `element` (typically
 * <body>). Each cluster of highlights may be styled independently. At present
 * this is limited to highlight color and underlining.
 *
 * `cluster-styles` in the annotator updates the cluster- related CSS variables
 *  per user inputs/preferences and manages the presence of the
 *  .hypothesis-highlights-clustered class.
 *
 * This styling is currently only supported for HTML documents.
 */
:root {
  --hypothesis-color-yellow: #fef9c3;
  --hypothesis-color-purple: #ede9fe;
  --hypothesis-color-orange: #ffedd5;
  --hypothesis-color-green: #d1fae5;
  --hypothesis-color-grey: #f5f5f4;
  --hypothesis-color-pink: #ffe4e6;

  --hypothesis-other-content-color: var(--hypothesis-color-default);
  --hypothesis-other-content-decoration: none;

  --hypothesis-user-highlights-color: var(--hypothesis-color-default);
  --hypothesis-user-highlights-decoration: none;

  --hypothesis-user-annotations-color: var(--hypothesis-color-default);
  --hypothesis-user-annotations-decoration: none;
}

.hypothesis-highlights-clustered {
  .hypothesis-highlight.other-content {
    --highlight-color: var(--hypothesis-other-content-color);
    --highlight-decoration: var(--hypothesis-other-content-decoration);
  }

  .hypothesis-highlight.user-highlights {
    --highlight-color: var(--hypothesis-user-highlights-color);
    --highlight-decoration: var(--hypothesis-user-highlights-decoration);
  }

  .hypothesis-highlight.user-annotations {
    --highlight-color: var(--hypothesis-user-annotations-color);
    --highlight-decoration: var(--hypothesis-user-annotations-decoration);
  }

  .other-content > .other-content,
  .user-highlights > .user-highlights,
  .user-annotations > .user-annotations {
    mix-blend-mode: multiply;
  }

  &
    .hypothesis-highlight
    > .hypothesis-highlight
    > .hypothesis-highlight
    > .hypothesis-highlight
    > .hypothesis-highlight {
    // Cut off multiply blending to ensure that deeply-nested annotations don't get too dark
    mix-blend-mode: normal;
  }
}

// Highlights are non-visible when .hypothesis-highlight-always-on class not present.
.hypothesis-highlight {
  background-color: transparent;
}

.hypothesis-svg-highlight {
  fill: transparent;
}

// Apply styling when highlights are visible
.hypothesis-highlights-always-on {
  .hypothesis-svg-highlight {
    fill: var(--highlight-color);

    &.is-focused {
      fill: var(--highlight-color-focused);
    }
  }

  .hypothesis-highlight {
    background-color: var(--highlight-color);
    text-decoration: var(--highlight-decoration);

    // For PDFs, we still create highlight elements to wrap the text but the
    // highlight effect is created by another element.
    &.is-transparent {
      background-color: transparent !important;
    }

    // When an annotation card is hovered in the sidebar, the corresponding
    // highlights are shown with a "focused" color.
    &.hypothesis-highlight-focused {
      mix-blend-mode: normal !important;
      background-color: var(--hypothesis-highlight-color-focused) !important;
      text-decoration: none;

      .hypothesis-highlight {
        background-color: transparent !important;
      }
    }

    cursor: pointer;

    // Make highlights visible to screen readers.
    // See also - https://developer.paciellogroup.com/blog/2017/12/short-note-on-making-your-mark-more-accessible/.
    &::before {
      @apply sr-only;

      // nb. The leading/trailing spaces are intended to ensure the text is treated
      // as separate words by assistive technologies from the content before/after it.
      content: ' annotation start ';
    }
    &::after {
      @apply sr-only;
      content: ' annotation end ';
    }
  }
}

// Placeholder element to which annotations for off-screen content in PDFs
// is anchored.
.annotator-placeholder {
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: -1;
}
