@use '../variables' as var;

// Hide content from sighted users but make it visible to screen readers.
//
// Resources:
// - https://webaim.org/techniques/css/invisiblecontent/ (see "CSS clip")
// - https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/#showing-additional-content-for-screen-readers
@mixin screen-reader-only {
  // Take the content out of the normal layout flow.
  position: absolute;

  // Visually hide the content and prevent it from interfering with mouse/touch
  // text selection by clipping it to an empty box. Compared to moving content with
  // `top`/`left` this is less likely to cause the browser to scroll to a
  // different part of the page when the hidden text has screen-reader focus.
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// `hypothesis-highlights-always-on` is a class that is toggled on the root
// of the annotated document when highlights are enabled/disabled.
.hypothesis-highlights-always-on {
  .hypothesis-highlight {
    background-color: var.$highlight-color;
    cursor: pointer;

    // Make highlights visible to screen readers.
    // See also - https://developer.paciellogroup.com/blog/2017/12/short-note-on-making-your-mark-more-accessible/.
    &::before {
      @include screen-reader-only;

      // nb. The leading/trailing spaces are intended to ensure the text is treated
      // as separate words by assisitve technologies from the content before/after it.
      content: ' annotation start ';
    }
    &::after {
      @include screen-reader-only;
      content: ' annotation end ';
    }
  }

  .hypothesis-highlight .hypothesis-highlight {
    background-color: var.$highlight-color-second;
  }

  .hypothesis-highlight .hypothesis-highlight .hypothesis-highlight {
    background-color: var.$highlight-color-third;
  }
}

.hypothesis-highlight.hypothesis-highlight-focused {
  background-color: var.$highlight-color-focus !important;

  .hypothesis-highlight {
    background-color: transparent !important;
  }
}
