@use 'sass:map';
@use '../../variables' as var;

// Map variables to local tokens
$touch-target-size: var.$touch-target-size !default;

$color-g1: var.$color-grey-1 !default;
$color-g2: var.$color-grey-2 !default;
$color-g3: var.$color-grey-3 !default;
$color-g6: var.$color-grey-6 !default;
$color-g7: var.$color-grey-7 !default;
$color-gsemi: var.$color-grey-semi !default;
$color-gmid: var.$color-grey-mid !default;
$color-brand: var.$color-brand !default;
$color-link-hover: var.$color-link-hover !default;

// The following SASS maps define color sets for each type of button

// Default colors for buttons
$colors: (
  'foreground': $color-gmid,
  'background': $color-g1,
  'hover-foreground': $color-g7,
  'hover-background': $color-g2,
  'active-foreground': $color-g7,
  'active-background': $color-g1,
  'border': transparent,
  'disabled-foreground': $color-gmid,
);

// Icon-only buttons have a transparent background by default, and a more
// visible active (pressed) state
$IconButton-colors: map.merge(
  $colors,
  (
    'background': transparent,
    'hover-background': transparent,
    'active-foreground': $color-brand,
    'active-background': transparent,
  )
);

$IconButton-colors--primary: map.merge(
  $IconButton-colors,
  (
    'foreground': $color-brand,
    'hover-foreground': $color-brand,
    'active-foreground': $color-brand,
  )
);

$LabeledButton-colors: $colors;

// This set of colors is light text on dark background
$LabeledButton-colors--primary: map.merge(
  $colors,
  (
    'foreground': $color-g1,
    'background': $color-gmid,
    'hover-foreground': $color-g1,
    'hover-background': $color-g6,
    'disabled-foreground': $color-gsemi,
  )
);

// This set of colors is for buttons styled as links on a white background
$LinkButton-colors: map.merge(
  $colors,
  (
    'background': transparent,
    'hover-background': transparent,
    'active-background': transparent,
    'hover-foreground': $color-link-hover,
  )
);
