@use "@hypothesis/frontend-shared/styles/mixins/focus";

@use "../variables" as var;

$title-font-size: 19px;

.Dialog__container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.Dialog__background {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.Dialog__content {
  @include focus.outline-on-keyboard-focus;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 700px; // default for older browsers
  max-width: min(700px, 90vw);
  background-color: white;
  border-radius: 3px;
  margin: auto;
  padding: 20px;
}

.Dialog__title {
  display: flex;
  align-items: center;
  font-size: $title-font-size;
}

.Dialog__cancel-btn {
  @include focus.outline-on-keyboard-focus;
  border: 0;
  background: none;
  color: var.$color-grey-6;

  // Given the button a large hit target and ensure the 'X' label is large
  // enough to see easily and aligned with the right edge of the dialog.
  // Add negative margins so that the button does not force the dialog to
  // grow in height.
  font-size: $title-font-size;
  padding: 5px;
  margin: -10px 0px;

  &:hover {
    cursor: pointer;
    color: var.$color-brand;
  }
}

.Dialog__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;

  & > *:not(:first-child) {
    margin-left: 5px;
  }
}
