.selection-tabs {
  @include grey-background;

  display: flex;
  flex-direction: row;
  color: $grey-5;
  @include font-normal;

  &:hover {
    color: $grey-6;
  }

  // Make the tabs scroll with the content until they reach the top of the
  // sidebar, at which point they will stick to the top.
  margin-top: -10px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: sticky;
  top: 40px;
  z-index: 1;

  // Make the background overlap the container slightly on the left/right
  // so that the background of the tabs fully overlaps the annotation cards
  // below, including their drop shadow when the list is scrolled.
  margin-left: -5px;
  padding-left: 5px;
  margin-right: -5px;
  padding-right: 5px;
}

.selection-tabs__type {
  color: $grey-6;
  margin-right: 20px;
  cursor: pointer;
  min-width: 85px;
  min-height: 18px;

  // Disable focus ring for selected tab
  outline: none;
}

.selection-tabs__type.is-selected {
  font-weight: bold;
}

.selection-tabs__count {
  position: relative;
  bottom: 3px;
  font-size: 10px;
}

.selection-loading {
  text-align: center;
}
