<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hypothesis Client Test</title>
</head>
<body>
  <div data-hypothesis-trigger style="margin: 75px 0 0 75px;">
    Number of annotations:
    <span data-hypothesis-annotation-count>...</span>
  </div>
  <div style="margin: 10px 0 0 75px;">
    <button id="add-test" style="padding: 0.6em; font-size: 0.75em">Toggle 2nd Frame</button>
  </div>
  <div style="margin: 10px 0 0 75px;">
    <iframe enable-annotation id="iframe1" src="/document/license" style="width: 50%;height: 300px;"></iframe>
  </div>
  <div id="iframe2-container" style="margin: 10px 0 0 75px;">
  </div>
  <pre style="margin: 20px 75px 75px 75px;">{{{readme}}}</pre>
  {{{hypothesisScript}}}
  <script>
  var iframeIsAdded = false;
  var addIframeBtn = document.querySelector('#add-test');
  if(addIframeBtn){
    addIframeBtn.addEventListener('click', function() {
      if (!iframeIsAdded) {
        var iframe1 = document.querySelector('#iframe1');
        var iframeNew = iframe1.cloneNode();
        iframeNew.src = "/document/code_of_conduct";
        iframeNew.id = "iframe2";
        iframeIsAdded = true;
        document.querySelector('#iframe2-container').appendChild(iframeNew);
      } else {
        var iframe2 = document.querySelector('#iframe2');
        iframe2.parentNode.removeChild(iframe2);
        iframeIsAdded = false;
      }
    });
  }
  </script>
</body>
</html>