<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>Hypothesis in-line frame document</title>
  </head>
  <body>
    <pre style="margin: 20px;">{{{textContent}}}</pre>
  </body>
  </html>