@use "./focus";
@use "../variables" as var;

@mixin reset-native-btn-styles {
  @include focus.outline-on-keyboard-focus;

  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border-style: none;
}

/**
 * Basic color, sizing, padding and hover for any button
 */
@mixin button-base {
  @include reset-native-btn-styles;
  padding: 0.5em;
  color: var.$grey-5;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &:hover {
    transition: 0.2s ease-out;
    color: var.$grey-6;
  }
}

/**
 * A <button> composed of an SVG icon (left) and text (right) with some
 * hover transition effects
 */
@mixin action-button($icon-margin: 0 5px) {
  @include button-base;
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: none;
  background-color: var.$grey-1;
  color: var.$grey-5;
  font-weight: 700;

  &:hover {
    background-color: var.$grey-2;
  }

  &__label {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  &__icon {
    color: var.$grey-5;
    margin: $icon-margin;

    &--compact {
      margin: 0;
    }

    &--primary {
      color: var.$grey-1;
    }
  }

  &--primary {
    color: var.$grey-1;
    background-color: var.$grey-mid;

    &:hover {
      color: var.$grey-1;
      background-color: var.$grey-6;
    }
  }
}

/**
 * An action button that is icon-only and displayed to the right of an
 * <input> element. Colors are one tick more subtle than `action-button`.
 */
@mixin input-icon-button {
  @include action-button;
  padding: 10px;
  border-radius: 0; // Turn off border-radius to align with <input> edges
  border: 1px solid var.$grey-3;
  border-left: 0px; // Avoid double border with the <input>
  color: var.$grey-4;

  &:hover {
    background-color: var.$grey-2;
    color: var.$grey-5;
  }
}
