@use "./focus";
@use "../variables" as var;

@mixin reset-native-btn-styles {
  @include focus.outline-on-keyboard-focus;

  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border-style: none;
}

/**
 * Basic color, sizing, padding and hover for any button
 */
@mixin button-base {
  @include reset-native-btn-styles;
  padding: 0.5em;
  color: var.$grey-mid;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &:hover {
    transition: 0.2s ease-out;
    color: var.$grey-7;
  }

  &.is-active {
    color: var.$brand;

    &:hover {
      color: var.$brand;
    }
  }
}

/**
 * A button with background color, layout rules to allow an icon, and text settings
 */
@mixin button-basic {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: none;
  background-color: var.$grey-1;
  font-weight: 700;
  color: var.$grey-mid;

  padding-right: 0.75em;
  padding-left: 0.75em;

  &:hover {
    background-color: var.$grey-2;
  }
}

/* colors for a "primary" button */
@mixin button-primary {
  color: var.$grey-1;
  background-color: var.$grey-mid;

  &:hover {
    color: var.$grey-1;
    background-color: var.$grey-6;
  }
}
