@use "../mixins/focus";
@use "../variables" as var;

/* Style input placeholders */
@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

// See http://compass-style.org/reference/compass/utilities/general/clearfix/#mixin-pie-clearfix
@mixin pie-clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin focus-outline {
  border-color: var.$color-focus-outline;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset,
    0px 0px 5px var.$color-focus-shadow;
}

@mixin form-input-focus {
  outline: none;
  background-color: var.$white;

  @include focus-outline;
  @include placeholder {
    color: var.$grey-5;
  }
}

@mixin form-input {
  @include var.font-normal;
  border: 1px solid var.$grey-3;
  border-radius: 2px;
  padding: 0.5em 0.75em;
  font-weight: normal;
  color: var.$grey-5;
  background-color: var.$grey-0;

  &:focus {
    @include form-input-focus;
  }

  @media (pointer: coarse) {
    font-size: var.$touch-input-font-size;
  }
}

@mixin btn-hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  color: var.$button-text-color;
  background: var.$button-background-start;
  border-color: var.$grey-4;
}

@mixin primary-action-btn {
  @include focus.outline-on-keyboard-focus;
  color: var.$grey-1;
  background-color: var.$grey-mid;
  height: 35px;
  border: none;
  border-radius: 2px;

  font-weight: bold;
  font-size: var.$body1-font-size;

  padding-left: 12px;
  padding-right: 12px;

  &:disabled {
    // NB: This doesn't allow for enough contrast ratio to meet WCAG AA requirements
    color: var.$grey-semi;
  }

  &:hover:enabled {
    background-color: var.$grey-6;
  }
}
