@use "./responsive";

@mixin sidebar-content {
  margin-left: auto;
  margin-right: auto;

  @include responsive.respond-to(tablets desktops) {
    margin: auto;
    max-width: responsive.$break-tablet;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
