@use "../variables" as var;
@use "./layout";

/**
 * horizontally-oriented collection of linked icons
 */
@mixin footer-links {
  @include layout.row(center);
  padding-top: 8px;
  border-top: 1px solid var.$grey-3;

  &__icon {
    @include layout.row;
    width: 18px;
    height: 18px;
    margin: 0 8px;
    color: var.$grey-5;

    &:hover {
      color: var.$grey-6;
    }
  }
}
