@use "../variables" as var;

/**
 * horizontally-oriented collection of linked icons
 */
@mixin footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8px;
  border-top: 1px solid var.$grey-3;

  &__icon {
    display: flex;
    width: 18px;
    height: 18px;
    margin: 0 8px;
    color: var.$grey-5;

    &:hover {
      color: var.$grey-6;
    }
  }
}
