@use '../variables' as var;
@use './layout';
@use './utils';

/**
 * A straightforward "frame" that serves as a basis for other card-like
 * patterns. May be used on its own for components that don't need all of
 * `card` or `panel's` bells and whistles.
 */
@mixin card-frame {
  @include utils.border;
  @include utils.shadow;
  border-radius: var.$border-radius;
  background-color: var.$color-background;
}

/**
 * A pattern for styling a little "pointer" (arrow) icon that attaches to
 * menu content and serves as a visual anchor back to the triggering
 * button/element. When using, you'll need to provide the appropriate
 * positioning details to get the pointer to be where you want it in the
 * given menu.
 *
 * @param {string} [$direction] - Which direction the arrow should "point"
 */
@mixin menu-arrow($direction: 'up') {
  position: absolute;
  z-index: 2;
  color: var.$color-border;
  fill: var.$color-background;
  @if ($direction == 'down') {
    transform: rotateX(180deg);
  }
}

/**
 * A full-width banner with optional "type" and styled icon at left
 */
@mixin banner {
  @include layout.row($align: center);
  width: 100%;
  background-color: var.$color-background;
  border-style: solid;
  border-width: 2px 0;

  &--success {
    border-color: var.$color-success;
  }

  &--error {
    border-color: var.$color-error;
  }

  &--notice {
    border-color: var.$color-notice;
  }

  &__type {
    @include layout.row($align: center);
    padding: var.$layout-space--small var.$layout-space;
    color: white;
  }

  &--success &__type {
    background-color: var.$color-success;
  }

  &--error &__type {
    background-color: var.$color-error;
  }

  &--notice &__type {
    background-color: var.$color-notice;
  }

  &__message {
    padding: var.$layout-space--small;
    width: 100%;
  }
}

/**
 * A variant of `banner` for use as a toast message container. Narrower,
 * lighter border, more padding around message text.
 */
@mixin toast-message {
  @include banner;
  @include layout.row($align: stretch);
  @include card-frame;
  position: relative;
  margin-bottom: var.$layout-space--small;
  border-width: 1px;

  &__type {
    padding: var.$layout-space;
  }

  &__icon {
    // Specific adjustments for success and error icons
    margin-top: 2px;
  }

  &__message {
    padding: var.$layout-space;
  }

  &__link {
    text-align: right;
    text-decoration: underline;
  }
}
