name: Continuous integration
on: pull_request
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Cache the node_modules dir
      uses: actions/cache@v2
      with:
        path: node_modules
        key: ${{ runner.os }}-node_modules-${{ hashFiles('yarn.lock') }}
    - name: Install
      run: yarn install --frozen-lockfile
    - name: Format
      run: yarn checkformatting
    - name: Lint
      run: yarn lint
    - name: Typecheck
      run: |
        yarn typecheck
        yarn typecheck-no-any
    - name: Test
      run: yarn test
